#home_slider {
  height: calc(100vh - 429px);
  .owl-stage-outer, .owl-stage, .owl-item, .item {
    height: 100%;
  }
  .owl-item img {
    height: 100%;
    object-fit: cover;
  }
  .item {
    position: $rel;
    .slide_caption {
      position: $absl;
      left: $full/2;
      top: $full/2;
      max-width: 1340px;
      padding: 0 $spc20;
      width: 100%;
      @include transform(translate(-50%, -50%));
    }
    h1 {
      max-width: $spc70*11 + 20;
    }
  }
}

.hero {
  .container-large {
    background: $blue;
    padding: 0 $spc20;
  }
  #home_thumb_slide {
    max-width: 1300px;
    margin: 0px auto;
    a, a:active, a:visited, a:link {
      color: $white;
      cursor: pointer !important;
      &:hover {
        color: $orange;
      }
    }
    h2 {
      color: #fff;
      padding: $spc60 - 1 $spc30;
      position: $rel;
      margin-bottom: 0px;
      cursor: pointer;
      span {
        display: block;
        color: $gray;
        font-weight: $semibold;
        font-size: $spc20 - 4;
        text-transform: uppercase;
        font-family: $fontMain;
        letter-spacing: 0.120em;
      }
    }
    .owl-item.current h2:before {
      background: $orange;
      content: "";
      left: 0;
      width: $full;
      top: 0;
      height: 4px;
      position: absolute;
    }
  }
}

/*Inner Banner*/
.inner_banner {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  h1 {
    max-width: $full;
    margin: 0 auto;
  }
}

/*Blog_banner*/
.blog_banner {
  background-size: cover;
  background-position: center center;
  min-height: 500px;
  position: $rel;
  h1.image_callout {
    font-size: $spc30 + 5;
    background: #082b51;
    padding: $spc40 $spc50 + 5 $spc30;
    left: 0;
    margin: 0;
    position: $absl;
    bottom: 0;
    span {
      text-transform: uppercase;
      color: $gray;
      font-size: 16px;
      line-height: normal;
      font-family: $fontMain;
      display: block;
      letter-spacing: 0.120em;
    }
  }
}
