/* ================================= Base Styles ==================================== */
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $fontMain;
  @include flexbox();
  flex-direction: column;
  min-height: 100vh;
  color: #504f58;
  &.fixed {
    overflow: hidden;
  }
  &.error404 {
    height: 100%;
  }
  .site-content {
    flex: 1;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a, a:active, a:visited, a:link {
  text-decoration: none;
  &.orange {
    color: $orange;
    font-weight: $bold;
  }
}

.container {
  width: $full;
  padding: 0 $spc20;
  margin: 0 auto;
  max-width: $spc100*13 + 40;
}

.container-large {
  max-width: $full;
  width: 100%;
}

.container-small {
  @extend .container;
  width: $container/2;
  max-width: 100%;
  padding: 50px;
  margin: 0 auto;
}

.lazyload-wrap {
  img {
    opacity: 0;
    @include hover-transition();
    &.lazyloaded {
      opacity: 1;
    }
  }
}

.txt-orange{
  color:$orange;
}

.fadeUp {
  opacity: 0;
  top: $spc50;
  position: $rel;
}

.visible-mobile, .hide {
  display: none;
}

/*HEADER */
.page_wrap {
  position: relative;
  overflow: hidden;
}

.top_bar, .top_bar_mobile {
  background: $graybar;
  text-align: center;
  .container {
    padding: 0px;
  }
  ul {
    li {
      list-style: none;
      display: inline-block;
      margin: 0px 10px;
      a {
        color: #00384a;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        padding: 13px 0px 13px 20px;
        display: block;
        &:hover {
          color: $orange;
        }
      }
      &.address a {
        background: url(/wp-content/themes/ulin/assets/images/location.png) no-repeat left center;
        &:hover {
          background: url(/wp-content/themes/ulin/assets/images/location_orange.png) no-repeat left center;
        }
      }
      &.email a {
        background: url(/wp-content/themes/ulin/assets/images/email.png) no-repeat left center;
        padding-left: 30px;
        &:hover {
          background: url(/wp-content/themes/ulin/assets/images/email_orange.png) no-repeat left center;
        }
      }
      &.phone a {
        background: url(/wp-content/themes/ulin/assets/images/call.png) no-repeat left center;
        padding-left: 25px;
        &:hover {
          background: url(/wp-content/themes/ulin/assets/images/call_orange.png) no-repeat left center;
        }
      }
      &.client_portal a {
        background: url(/wp-content/themes/ulin/assets/images/user.png) no-repeat left center;
        &:hover {
          background: url(/wp-content/themes/ulin/assets/images/user_orange.png) no-repeat left center;
        }
      }
    }
  }
}

.main_header {
  position: $rel;
  .container {
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
  }
}

.logo {
  width: 265px;
  .st1 {
    fill: $blue;
  }
  .st0 {
    fill: $orange;
  }
}

.social {
  ul {
    @include flexbox();
    @include align-items(center);
    li {
      list-style: none;
      display: inline-block;
      margin: 5px;
      a {
        display: block;
        padding: 2px 2px;
        svg {
          width: 18px;
          height: 18px;
          vertical-align: middle;
        }
        .st0 {
          fill: $gray;
        }
        &:hover .st0 {
          fill: $orange;
        }
      }
    }
  }
}

ol {
  margin: 15px 0px;
  padding-left: 20px;
  li {
    list-style: decimal;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: $paragraph;
    padding-left: 8px;
    &:before {
      text-align: right;
    }
  }
}
ol {
  list-style: none !important;
  counter-reset: li;
  position: relative;
  li {
    counter-increment: li;
    list-style: none !important;
    &:before {
      content: counter(li) ".";
      color: $orange;
      font-weight: $bold;
      font-size: 18px;
      display: inline-block;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0;
    }
  }
}

.sidenav_content {
  ul li {
    list-style: none !important;
    position: relative;
    &:before {
      content: "•";
      color: $orange;
      font-weight: $bold;
      font-size: 30px;
      width: 20px;
      height: 20px;
      display: inline-block;
      position: absolute;
      left: -21px;
    }
  }
  ol {
    list-style: none !important;
    counter-reset: li;
    position: relative;
    li {
      counter-increment: li;
      list-style: none !important;
      &:before {
        content: counter(li) ".";
        color: $orange;
        font-weight: $bold;
        font-size: 18px;
        display: inline-block;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 0;
      }
    }
  }
}
.contact_form {
  ul {
    margin: 25px 0;
    li {
      font-weight:500;
      color: $paragraph;
      font-size: 18px;
      list-style: none !important;
      position: relative;
      margin-bottom: 20px;
      padding-left: 20px;
      &:before {
        content: "•";
        color: $orange;
        font-weight: $bold;
        font-size: 30px;
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -7px;
      }
    }
  }
}

.sidenav_content {
  a {
    color: $orange !important;
    @include hover-transition();
    &:hover {
      color: $blue !important;
    }
  }
}

.contact_callout {
  background: #f4f5f7;
  padding: $spc80 0;

  .container {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    @include flex-wrap(wrap);

    h2 {
      margin-bottom: 0px;
    }

    h2:empty {
      display: none;
    }

    h2 {
      width: 100%;
      margin-bottom: 20px;
      p {
        @extend h2;
      }
    }
  }

  .gform_wrapper {
    width: $full;

    form {
      width: $full;
      position: $rel;
      float: left;
    }
  }

  ul.gform_fields li.gfield {
    padding-right: 0px !important;
    margin: 0px 0px 0px 3.33% !important;
    float: left;
    width: 31%;
    clear: none;

    &#field_5_1 {
      margin-left: 0px !important;
    }

    &#field_5_4 {
      width: 84%;
      margin-left: 0px !important;

      .gfield_label {
        color: $paragraph;
        font-weight: 700;
        text-transform: uppercase;
        display: block;
        margin-top: 15px;
        margin-bottom: 10px;

      }
    }

    .gfield_label {
      display: none;
    }

    .ginput_container {
      width: 100%;
      margin-top: 0px;
    }

    ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: $paragraph;
    }

    ::-moz-placeholder {
      /* Firefox 19+ */
      color: $paragraph;
    }

    :-ms-input-placeholder {
      /* IE 10+ */
      color: $paragraph;
    }

    :-moz-placeholder {
      /* Firefox 18- */
      color: $paragraph;
    }

    input {
      background: none;
      border: none !important;
      border-bottom: 1px solid $paragraph !important;
      color: $paragraph;
      font-weight: 700;
      text-transform: uppercase;
      padding: 15px 0px !important;
      width: 100% !important;
      margin-bottom: 15px;
    }

    textarea {
      background: none;
      border: 1px solid $paragraph !important;
      color: $paragraph;
      height: 80px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 15px 0px !important;
      width: 100% !important;
      margin-bottom: 15px;
    }
  }

  .gform_footer {
    padding: 0px !important;
    margin: 0px !important;
    width: auto !important;
    clear: both;
    position: absolute;
    right: 0;
    bottom: 40px;

    input[type="submit"] {
      font-family: 'Domine', serif;
      font-size: $spc10 + 3 !important;
      text-transform: uppercase;
      font-weight: $bold;
      color: $blue;
      background: none;
      margin: 0px !important;
      letter-spacing: 0.025em;
      border: 2px solid $blue;
      min-height: $spc50;
      padding: $spc5 $spc20;
      display: inline-block;
      line-height: $spc30 + 6;
      min-width: $spc50*3;
      text-align: center;
      max-width: $spc50*3;
      cursor: pointer;
      @include hover-transition();

      &:hover {
        background: $orange;
        border-color: $orange;
        color: $white;
      }
    }
  }

  div.validation_error, .validation_message {
    display: none;
  }

  &.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
    max-width: 100% !important;
  }

  li.gfield.gfield_error {
    border: none;
    background: none;
    margin-bottom: 0px !important;
    padding: 0px;
    width: 100%;
  }

  li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), li.gfield_error textarea {
    border: none;
    border-bottom: 1px solid #F00 !important;
  }

  input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus textarea:-webkit-autofill, textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
    -webkit-text-fill-color: $paragraph;
    -webkit-box-shadow: 0 0 0px 1000px #f4f5f7 inset;
  }

  .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
    max-width: 100% !important;
    border: none;
    background: none;
    padding: 0;
  }

  .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container, .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
    margin-top: 0;
  }
}


.sidenav_content, .form, #form_holder{
  .gform_wrapper {
    h3.gform_title, .gform_description {
      display:none;
    }
    ul.gform_fields li.gfield {
      padding-right:0px !important;
      margin:0px 0 30px;
      width: 47%;
      float: left;
      clear: none;


      .gfield_label {
        display:none;
      }
      &#field_6_2, &#field_8_2 {
         width:100%;
      }

      &#field_6_8, &#field_6_7, &#field_8_8, &#field_8_7 {
          .gfield_label{
            display: block !important;
          }
      }


      .ginput_container {
        width:100%;
        margin-top:0px;
        #input_6_1_3_container ,#input_6_10_6_container{
          label{
            display:none;
          }
        }

      }
      ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $paragraph;
        letter-spacing:0.120em;
      }
      ::-moz-placeholder {
        /* Firefox 19+ */
        color:$paragraph;
        letter-spacing:0.120em;
      }
      :-ms-input-placeholder {
        /* IE 10+ */
        color: $paragraph;
        letter-spacing:0.120em;
      }
      :-moz-placeholder {
        /* Firefox 18- */
        color: $paragraph;
        letter-spacing:0.120em;
      }
      input, textarea {
        background: none;
        border: none;
        border-bottom: 1px solid #dfe3e7;
        color: $paragraph;
        font-weight: 700;
        text-transform: uppercase;
        padding: 15px 0px !important;
        width: 100%;
        margin-bottom: 15px;
      }
      textarea {
        border:1px solid #dfe3e7;
        height:165px;
        resize:none;
        padding: 15px 15px !important;
      }
    }
    .gform_footer {
      padding:0px;
      input[type="submit"] {
        font-family: 'Domine', serif;
        font-size:$spc10 + 3;
        text-transform:uppercase;
        font-weight:$bold;
        color:$blue;
        background:none;
        letter-spacing:0.025em;
        border:2px solid $blue;
        min-height:$spc50;
        padding:$spc5 $spc20;
        display:inline-block;
        line-height:$spc30 + 6;
        min-width:$spc50*3;
        text-align:center;
        cursor:pointer;
        @include hover-transition();
        &:hover {
          background:$orange;
          border-color:$orange;
          color:$white;
        }
      }
    }
    div.validation_error, .validation_message {
      display:block;
    }
    &.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
      max-width:100% !important;
    }
    li.gfield.gfield_error {
      border:none;
      background:none;
      margin-bottom:0px!important;
      padding:0px;
      width:100%;
    }
    li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), li.gfield_error textarea {
      border:none;
      border-bottom:1px solid #F00 !important;
    }
    input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus textarea:-webkit-autofill, textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
      -webkit-text-fill-color: $paragraph;
      -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    }
  }
}



/*FOOTER*/
footer {
  background-color: $blue;
  padding: $spc70 + 5 0 0;
  .container {
    @include flexbox();
    @include justify-content(space-between);
  }
  .footer-left {
    width: 40%;
  }
  .footer-right {
    width: 60%;
    padding-left: 50px;
    @include flexbox();
  }
  .foter-col {
    padding: 0px $spc20;
  }
  .footer_logo {
    max-width: 200px;
    display: block;
    margin-bottom: 15px;
    .st0 {
      fill: #ffffff;
    }
  }
  h5 {
    letter-spacing: 0.025em;
    padding-top: 15px;
  }
  .footer01 {
    p {
      color: rgba(#fff, 0.5);
      font-size: 13px !important;
      line-height: 20px !important;
      font-weight: 700;
    }
  }
  .footer05 {
    max-width: 230px;
    p {
      font-size: 14px !important;
      line-height: $spc20 !important;
      font-weight: 600;
      margin-bottom: $spc10;
      letter-spacing: 0.025em;
      a {
        color: rgba(#fff, 0.5);
        &:hover {
          color: $orange;
        }
      }
    }
  }
  .footer-menu {
    ul {
      li {
        list-style: none;
        font-size: 14px;
        a {
          color: rgba(#fff, 0.5);
          display: block;
          padding: $spc5 0;
          letter-spacing: 0.025em;
          font-weight: 600;
        }
        &:hover a {
          color: $orange;
        }
      }
    }
  }
  .copyright {
    border-top: 1px solid #1a3b5b;
    padding: $spc30 - 5 0;
    margin-top: $spc40;
    .container {
      @include align-items(center);
    }
    .social {
      margin-top: 0px;
      .st1 {
        fill: $blue;
      }
    }
    .right_bottom {
      p {
        margin-bottom: 0;
        font-size: 10px !important;
        line-height: 16px !important;
        color: rgba(#fff, 0.5);
        a {
          color: rgba(#fff, 0.5);
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
@media (max-width: 1283px) {
  footer {
    .container {
      @include flex-direction(column);
      .footer-left {
        width: 100% !important;
      }
      .footer-right {
        width: 100% !important;
        padding-left: 0 !important;
      }
      .footer-left {
        .foter-col.footer01 {
          p {
            display: none;
          }
        }
      }
      .foter-col.footer01.mobile_view {
        display: block !important;
        margin-top: 30px;
      }
    }
  }
}
@media (max-width: 630px) {
  footer {
    .foter-col {
      padding: 0 !important;
    }
    .footer_logo {
      margin: 0 auto 15px;
    }
    .footer-right {
      @include flex-direction(column);
      @include align-items(center);
      text-align: center;
    }
  }
}

// Lity

.lity{

  background:rgba($blue,0.7);
  color:$darkGray;

  .lity-close{
    color:$blue;
    position:absolute;
    top:3%;
    right:12%;
  }

  .lity-content{
    width:80%;
    height:80%;
    overflow:auto;
    margin:0 auto;
    padding:80px 0;
    background:$white;
    .container{
      @include flexbox();
      .member_pic{
        @include flex-basis(100%);
        padding: 0 40px;
      }
      .member_disc{
        border-top: 2px solid $orange;
        padding-top:40px;
        .content {
          padding-right: 40px;
          max-height: 600px;
          overflow: auto;
        }
      }


    }

  }
  @media (max-width:991px){
    .lity-close{
      top:2%;
      right:2%;
    }
    .lity-content {
      width:100%;
      height:100%;
      .container {
        @include flex-direction(column);

        .member_pic {
          padding: 0 60px 40px;
          margin:0 auto;
        }
        .member_disc{
          border-top: 2px solid $orange;
          padding-top:40px;
          .content{
            max-height:unset;
          }
        }
      }
    }
  }

}

.page_404 {
  padding: $spc50*3 0;
  h1 {
    color: $blue;
    span {
      font-size: $spc60*2;
      display: block;
      line-height: $spc60*2;
    }

  }
}

//Portal Page

.portal-buttons {
  @include flexbox();
  .btn {
    margin-right: 20px;
  }
}
.basic-page-content {
  a {
    color: $blue !important;
    @include hover-transition();
    &:hover {
      color: $white !important;
    }
  }
}

.blog-link {
  h2 {
    @include hover-transition();
  }
  &:hover {
    h2 {
      color: $orange;
    }
  }
}
