.mobile_view, .view-menu, .mobile, .view-menu, .select-dropdown {
  display: none;
}

/* ================================= Media Queries ==================================== */
@media (max-width: 1550px) {
  #home_slider {
    height: calc(100vh - 360px);
  }
  .hero #home_thumb_slide h2 {
    padding: $spc50/2 0;
  }
}

@media (max-width: 1440px) {
  .three_sections .column {
    padding: $spc60 + 5;
  }
}

@media (max-width: 1279px) {
  h2 {
    font-size: 30px;
    line-height: $spc30 + 6;
  }
  .main_header .logo {
    width: 210px;
    margin: 20px 0;
  }
  .main_nav > ul > li {
    padding: 0 8px;

    > a {
      font-size: 11px;
      letter-spacing: 0.02em;
    }
  }
  .social {
    margin-top: 6px;
  }
  #home_slider {
    height: calc(100vh - 314px);
  }
  h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .hero #home_thumb_slide h2 {
    font-size: 25px;
    line-height: $spc30 + 5;
  }
  .intro_section .intro_text .text_inner {
    padding: $spc20 $spc50 $spc20 $spc20;

    h2 {
      margin-bottom: $spc20;
    }
  }
  .three_sections .column {
    padding: 35px 25px;
  }
  .featured_main {
    padding: 30px 0px;
  }
  .team_members ul.members li {
    > div {
      width: 180px;
    }

    .member_disc {
      margin-left: 30px;
      width: calc(100% - 210px);
    }
  }
}

@media (max-width: 1130px) {
  body.page-template-template-news-events {
    ul.archive_list {
      @include justify-content(space-between !important);

      li {
        width: calc(50% - 25px);
        margin-left: 0px !important;
      }
    }
  }
  footer {
    .footer-right {
      width: 60% !important;
    }
  }
}

@media (max-width: 1023px) {
  footer {
    .foter-col {
      &.footer04 {
        padding-left: 0px;
      }
    }
  }
  .view-menu {
    display: block;
    width: 100%;
    font-size: 0;
  }
  .main_nav > ul > li {
    padding: 15px 8px 25px;
  }
  .main_header .container {
    padding: 0px 20px;
    @include flex-wrap(wrap);

    .logo {
      margin: 30px auto 15px;
      display: block;
      width: 235px;
    }
  }
  .social ul li {
    margin: 5px 2px;

    a svg {
      width: 16px;
      height: 16px;
    }
  }
  .text-block.align-left {
    max-width: 100%;
    padding: 70px 0 50px;
  }
  .inner_banner h1 br {
    display: none;
  }
  ul.archive_list li .post_disc {
    padding: 30px 35px 80px;
  }
  .blog_container {
    padding: 70px 0px;

    .secondary_nav {
      width: 260px;
    }

    .blog_article {
      width: calc(100% - 260px);
      padding-left: $spc50;
    }
  }
  .blog_subscribe .gform_wrapper .gform_body {
    width: 100%;
  }
  .blog_subscribe .gform_wrapper ul.gform_fields li.gfield {
    width: 47%;
  }
  .blog_subscribe .gform_wrapper ul.gform_fields li.gfield#field_3_2 {
    margin-right: 0px !important;
  }
  .blog_subscribe .gform_wrapper .gform_footer {
    margin-top: 20px;
  }
  .blog_subscribe .gform_wrapper .gform_footer input[type="submit"] {
    min-width: 200px;
  }
}

@media (max-width: 991px) {

  footer {
    .container {
      @include flex-direction(column);

      .footer-left, .footer-right {
        width: 100% !important;
      }
    }
  }
  h1 {
    font-size: 35px;
    line-height: 40px;
  }
  .container {
    padding: 0px $spc40;
  }
  #home_slider {
    height: auto;
  }
  #home_slider .item .slide_caption, .hero .container-large {
    padding: 0px $spc40;
  }
  .hero #home_thumb_slide h2 {
    font-size: 20px;
    line-height: 30px;
  }
  .intro_section {
    @include flex-wrap(wrap);

    > div {
      width: $full;
    }

    .intro_text .text_inner {
      padding: $spc40 + 5 $spc40;
      max-width: 100%;
      background-size: 450px auto;
    }

    .intro_video {
      height: 400px;
    }
  }
  .text-block.align-center {
    width: $full;
    text-align: left;
    padding: $spc50 0 $spc20;
  }
  .featured_main {
    border-top: 1px solid #e4e5e7;
    padding: 40px 0px;
    margin-bottom: 0;

    .container {

      @include justify-content(center);

      h2 {
        margin-bottom: 35px;
        text-align: center;
        padding-left: 0;
      }

      .featured_slide {
        width: $full;
      }
    }
  }
  .three_sections .column {
    padding: $spc40 + 5 $spc40 $spc50;
    width: 100%;
  }
  .radio_callout, .call_out, .events_callout, .news_callout {
    padding: $spc40 + 5 0;

    .container {
      @include flex-wrap(wrap);

      a.btn {
        margin-top: $spc30;
      }
    }
  }
  .blog_and_news .container {
    padding: 0;

    h2 {
      padding: $spc30 + 5 0 0;
      margin-bottom: $spc10;
    }

    > div {
      width: 100%;
      padding: 0px;

      &:first-of-type {
        border-right: none;
      }

      &.news_post, &.blog_post {
        padding: 0 20px;
      }
    }
  }
  .upcoming_event {
    padding: 40px 0 35px;

    ul.events li {
      padding: 0;
    }
  }
  .inner_banner {
    min-height: 400px;
  }
  .contact_info {
    padding: $spc40 + 5 0;

    .container {
      @include flex-wrap(wrap);
    }

    h2 {
      width: 100%;
      margin-bottom: $spc10;
    }

    .information_right {
      width: 100%;
      @include flex-wrap(wrap);

      .column {
        width: 100%;
      }
    }
  }
  .contact_form {
    padding: $spc50 0 $spc40;
  }
  .two_cta {
    @include flex-wrap(wrap);

    h2 {
      max-width: 100%;
    }

    > div {
      padding: $spc50 $spc40;
      width: $full;
      text-align: left;
    }
  }
  .contact_info .information_right .column a {
    font-size: 14px;
    line-height: 20px;
  }
  .single {
    .secondary_nav {
      display: none;
    }
  }
  .page_container {
    padding: 60px 0 0;

    .secondary_nav {
      width: 260px;
    }

    .page_article {
      width: calc(100% - 260px);
      padding-left: $spc40;
      padding-right: $spc40;
    }
  }
  .team_members ul.members li {
    margin-bottom: 50px;

    > div {
      width: 100%;

      img {
        vertical-align: top;
      }
    }

    .member_disc {
      margin-left: 0;
      width: 100%;
      margin-top: 40px;
    }
  }
  .privacy_and_disclosure > div {
    padding: 50px 40px;
  }
  .hero #home_thumb_slide h2 span {
    font-size: 13px;
  }
  .contact_callout ul.gform_fields li.gfield#field_5_4 {
    width: 75%;
  }

}

@media (max-width: 767px) {

  body.page-template-template-news-events {
    .archive_section {
      padding: 50px 0;
    }
  }

  .portal-buttons {
    @include flex-direction(column);
    @include align-items(center);
  }

  body.page-template-template-news-events {
    ul.archive_list {
      li {
        width: 100% !important;
      }
    }
  }
  .upcoming_event .firstActiveItem {
    margin-left: 0 !important;
  }
  .upcoming_event {
    ul.events li:before {
      width: 0 !important;
    }
  }

  #home_slider, .home_hero_nav {
    display: none;
  }
  #home_slider_mobile, .mobile-home-slider-nav {
    display: block !important;
  }
  h1 {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.020em;
  }
  .main_header {
    padding-top: 0px;

    .container {
      padding: 0px;
    }
  }
  .main_header .container .logo, .main_nav, .main_header .social {
    display: none;
  }
  .main_header {
    padding: 0 !important;
  }
  .top_bar {
    display: none;
  }
  .top_bar_mobile {
    display: block !important;

    .address, .email, .phone, .client_portal {
      a {
        background: none !important;
      }
    }
  }
  .logo.mobile {
    display: block;
    width: 230px;
    margin: 35px auto;
  }
  .top_bar, .top_bar_mobile {
    background: none;
    border-top: 1px solid #dfe3e7;
    border-bottom: 1px solid #dfe3e7;

    ul:after {
      clear: both;
      content: "";
      display: block;
    }

    ul li {
      margin: 0px;
      width: 25%;
      float: left;

      a {
        font-size: 14px;
        display: block;
        padding: 22px 15px;
      }
    }
  }
  .view-menu {
    font-size: 14px;
    color: $white;
    text-align: center;
    background: $blue;
    cursor: pointer;
    padding: $spc10 + 7 $spc20;
    font-weight: 700;
    letter-spacing: 0.012em;
    text-transform: uppercase;
  }
  .join_team h4 {
    font-size: 12px;
    letter-spacing: 0.020em;
  }
  .main_nav {
    background: #fff;
    position: $absl;
    top: $spc50;
    z-index: 3;
    left: 0;
    width: $full;

    > ul {
      @include flex-wrap(wrap);

      > li {
        padding: 0px;
        border-bottom: 1px solid #dfe3e7;
        width: 100%;
        position: $rel;

        > a {
          display: block;
          padding: 16px $spc40;
          font-size: $spc10 + 4;
          color: $paragraph;
          border-bottom: none;
        }

        span {
          width: 25px;
          height: 25px;
          position: absolute;
          right: 34px;
          top: 11px;

          &:before {
            content: "";
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 7px solid #082b51;
            position: absolute;
            right: 6px;
            top: 9px;
          }

          &.close_icn:before {
            border-bottom: 7px solid #082b51;
            border-top: 7px solid transparent;
            top: 1px;
          }
        }

        .sub-menu.open {
          display: block;
          position: static;
          padding: 10px 0px;
          width: $full;
          margin: 0;
          border-top: 1px solid #dfe3e7;

          &:before, &:after {
            display: none;
          }

          li {
            a {
              padding: 10px 40px;
              color: $paragraph;
              font-size: 14px;

              &:hover {
                color: $orange;
              }
            }
          }
        }

        &.current-menu-item > a, .sub-menu li:hover a {
          color: $blue;
        }

        &.menu-item-has-children:hover a:after {
          display: none;
        }
      }
    }
  }
  .hero {
    position: $rel;

    #home_slider {
      width: calc(100% - 150px);

      .owl-item img {
        min-height: 245px;
      }

      .item .slide_caption {
        padding: 15px 20px 15px 40px;

        h1 {
          font-size: 20px;
          line-height: 26px;
          letter-spacing: -0.026em;
          margin: 0;
        }
      }
    }

    > .container-large {
      width: 150px;
      position: absolute;
      right: 0;
      top: 0;
      padding: 0;
      height: 100%;
    }

    #home_thumb_slide {
      height: $full;

      .owl-stage-outer {
        height: $full;
      }

      .owl-stage {
        width: $full !important;
        height: $full;

        .owl-item {
          width: $full !important;
          float: none;
          height: 25%;
        }
      }

      h2 {
        padding: 18px $spc20 17px;
        font-size: 12px;

        span {
          font-size: 9px;
          line-height: 6.5px;
        }
      }

      .owl-item {
        &.current {
          h2:before {
            width: 3px;
            height: $full;
          }
        }
      }
    }
  }
  footer {
    padding-top: $spc60;

    .foter-col.footer01 {
      width: $full;

      p {
        display: none;
      }
    }

    h5 {
      padding-top: 0px;
    }

    .foter-col, .foter-col.footer05 {
      width: $full/2;
      margin-bottom: 25px;
    }

    .footer05 p {
      margin-bottom: 0;
    }

    .foter-col.footer01.mobile_view {
      display: block;
      margin-bottom: 0px;

      p {
        display: block;
        margin-bottom: 15px;
      }
    }

    .copyright {
      margin-top: $spc20;
      padding: $spc10 + 5 0px $spc50;

      .social {
        margin-bottom: $spc10;
        width: $full;
      }

      .right_bottom {
        max-width: 200px;
      }
    }
  }
  .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=image]):not([type=file]) {
    line-height: normal !important;
    min-height: 50px !important;
  }
  .gform_wrapper {
    margin: 0 !important;

    .gform_footer input[type=submit] {
      margin-bottom: 0px !important;
    }
  }
  .upcoming_event ul.events li {
    border: none;
    padding-right: 35px;

    &:before {
      content: "";
      background: #d8dce1;
      right: 30px;
      top: 0;
      position: absolute;
      width: 1px;
      height: 100%;
    }

    h4 {
      margin-bottom: 15px;
    }
  }
  .upcoming_event .firstActiveItem {
    margin-left: -15px;
  }
  .contact_form {
    padding-bottom: 50px;

    .gform_wrapper {
      ul.gform_fields li.gfield {
        input {
          padding: 20px 0px !important;
        }

        &#field_2_5 .gfield_label {
          margin-top: 10px;
        }
      }

      .gform_footer {
        padding-top: 15px;
      }
    }
  }
  .two_cta {
    background: #f4f5f7;

    .news_cta {
      h2 {
        color: $blue;
      }

      .btn {
        border-color: $blue;
        color: $blue;

        &:hover {
          border-color: $orange;
          color: $white;
        }
      }
    }
  }
  .archive_section {
    padding-bottom: 60px;
  }
  .text-block.align-left {
    padding: $spc40 + 5 0 $spc20;
  }
  ul.archive_list li {
    width: 100%;
    margin-left: 0;

    .post_disc {
      padding: 30px 20px 70px;

      div.wonderpluginaudio .amazingaudioplayer-time {
        right: 20px !important;
      }

      div.wonderpluginaudio .amazingaudioplayer-progress {
        margin: 0px 10px !important;
      }

      div.wonderpluginaudio .amazingaudioplayer-next {
        right: 22px !important;
      }

      div.wonderpluginaudio .amazingaudioplayer-playpause {
        right: 45px !important;
      }

      div.wonderpluginaudio .amazingaudioplayer-prev {
        right: 70px !important;
      }
    }
  }
  ul.archive_list li:last-of-type {
    margin-bottom: $spc40;
  }
  .archive_section > .align-center {
    text-align: left;
  }
  .contact_callout {
    padding: $spc50 + 5 0 $spc60;

    &.mobile {
      display: block;
    }

    .container {
      @include flex-wrap(wrap);

      h2 {
        width: 100%;
        margin-bottom: $spc20;

        br {
          display: none;
        }
      }
    }
  }
  .blog_banner {
    min-height: $spc100 * 3 + $spc70;

    h1.image_callout {
      font-size: $spc20 - 2;
      padding: $spc30 - 2 $spc40 - 1 $spc20 + 1;
      width: $full;
      letter-spacing: 0;

      span {
        margin-bottom: 1px;
        font-size: $spc10 + 4;
      }
    }
  }
  .blog_subscribe {
    padding: $spc50 - 4 0 $spc50;

    h2 {
      letter-spacing: -0.020em;
      margin-bottom: $spc10 - 3;
    }

    .gform_wrapper form {
      .gform_body {
        width: $full;
        margin-bottom: $spc20 + 1;

        ul.gform_fields {
          li.gfield {
            width: $full;
            margin: 0 0 $spc20 - 3;

            input {
              font-size: $spc10 + 4 !important;
              padding: $spc10 + 5 0 $spc10 + 2 !important
            }
          }
        }
      }

      .gform_footer {
        input[type="submit"] {
          border: solid 2px $blue;
          padding: $spc10 + 5 $spc30 + 3;

          &:hover {
            background: $orange;
            border-color: $orange;
            color: $white;
          }
        }

        &:before {
          display: none;
        }
      }
    }
  }
  .page-template-template-news-events {
    .upcoming_event {
      padding: $spc40 0 $spc40 + 5;
      border-bottom: solid 1px #e3e8e9;
      margin-bottom: $spc50 - 2;
      position: $rel;

      ul.events li h3 {
        margin-bottom: 6px;
      }

      &:before {
        position: $absl;
        right: $full;
        bottom: -1px;
        width: $spc40;
        height: 1px;
        content: "";
        background: #e3e8e9;
      }

      &:after {
        position: $absl;
        left: $full;
        bottom: -1px;
        width: $spc40;
        height: 1px;
        content: "";
        background: #e3e8e9;
      }
    }

    .archive_list {
      padding-top: $spc10 + 3;

      li {
        h4 {
          line-height: $spc20 + 2;
        }

        .post_disc {
          padding: 33px 30px 90px;
        }
      }
    }
  }
  .detail_bottom {
    @include flex-direction(row-reverse);

    h4 {
      font-size: $spc10 + 4;
      width: $full;
    }

    .left_share {
      width: $spc10*11;

      .social {
        margin-left: 0;

        ul li {
          margin: 5px 0px;
        }

        img {
          height: 15px;
          width: auto;
        }
      }
    }
  }
  .page_container {
    @include flex-wrap(wrap);

    .secondary_nav {
      width: $full;
      margin-bottom: $spc30;
    }

    .page_article {
      width: 100%;
      padding: 0px 0px 40px;

      .dots_outer {
        left: -40px;
        top: auto;
        width: calc(100% + 80px);
        height: 10px;

        &:before {
          width: 100%;
          height: 1px;
          left: 0px;
        }

        .square_indicators {
          top: auto;
          left: 50%;
          right: auto;
          transform: translate(-50%, 0%);
          -webkit-transform: translate(-50%, 0%);
          -ms-transform: translate(-50%, 0%);
          bottom: 0px;
          width: 270px;
          text-align: center;

          li {
            display: inline-block;
            vertical-align: middle;
            margin: 0px 12px;
          }
        }
      }
    }
  }
  .featured_news ul.archive_list li {
    margin-bottom: $spc50;

    &:last-of-type {
      margin-bottom: 0px;
    }
  }
  .blog_subscribe .gform_wrapper .gform_footer {
    margin-top: 0px;

    input[type="submit"] {
      min-width: $spc50*3;
    }
  }
  .blog_container {
    padding: $spc40 0 $spc50;
    @include flex-wrap(wrap);
    position: $rel;

    .secondary_nav {
      width: $full;
      margin-bottom: 30px;
    }

    .blog_article {
      width: 100%;
      padding-left: 0;

      .blog_posts li {
        width: $full;

        &:nth-child(even) {
          margin-left: 0;
        }

        &:last-of-type {
          margin-bottom: 0px;
        }

        .post_disc {
          padding: 33px 35px 26px;
        }
      }
    }

    .blog_list.filter_category_menu {
      margin: 0px -40px;
      position: absolute;
      left: 0;
      top: 141px;
      background: #fff;
      width: calc(100% + 80px);
      z-index: 5;
      padding: 0px;

      li > a {
        color: $gray;
        font-size: 14px;
        text-transform: capitalize;
        font-weight: normal;
        border-bottom: none;
        padding: 16px 40px;
        border-bottom: 1px solid #dfe3e7;

        &:hover, &.active_cat {
          color: $orange;
        }
      }
    }

    .resource_list.filter_category_menu {
      margin: 0px -40px;
      position: absolute;
      left: 0;
      top: 141px;
      background: #fff;
      width: calc(100% + 80px);
      z-index: 5;
      padding: 0px;

      li > a {
        color: $gray;
        font-size: 14px;
        text-transform: capitalize;
        font-weight: normal;
        border-bottom: none;
        padding: 16px 40px;
        border-bottom: 1px solid #dfe3e7;

        &:hover, &.active_cat {
          color: $orange;
        }
      }
    }
  }
  .replace_filter_html > .align-center {
    text-align: left;
  }
  .btn-load-more {
    margin-top: 50px;
  }
  .page_container .secondary_nav {
    position: $rel;
  }
  .finance_content .page_container, .about_content .page_container {
    padding-top: 0px;
  }
  .about_content .page_container .secondary_nav {
    .filter_category_menu {
      margin: 0px -40px;
      position: absolute;
      left: 0;
      top: 51px;
      background: #fff;
      width: calc(100% + 80px);
      z-index: 1;
      padding: 10px 0;
      border-bottom: 1px solid #dfe3e7;
    }

    ul {
      li > a {
        color: $paragraph;
        font-size: 14px;
        text-transform: capitalize;
        font-weight: 600;
        border-bottom: none;
        padding: 15px 40px;
        letter-spacing: unset !important;

        &:hover, &.active_cat {
          color: $orange;
        }
      }
    }
  }
  .select-dropdown {
    color: #082b51;
    font-size: 14px;
    position: $rel;
    text-transform: uppercase;
    padding: 17px 40px;
    border-bottom: 1px solid #dfe3e7;
    display: block;
    font-weight: bold;
    letter-spacing: 0.12em;
    margin: 0px -40px;

    &:before {
      content: "";
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 7px solid #082b51;
      position: absolute;
      right: 40px;
      top: 22px;
    }

    &.open-dropdown:before {
      border-top: 7px solid transparent;
      border-bottom: 7px solid #082b51;
      top: 14px;
    }
  }
  .filter_category_menu {
    display: none;

    &.open {
      display: block;
    }
  }
  .privacy_and_disclosure > div {
    width: 100%;
  }
  .team_members {
    padding: 50px 0 0;

    ul.members {
      padding-top: 20px;
    }
  }
  .finance_content .page_container {
    position: $rel;

    .filter_category_menu {
      margin: 0px -40px;
      position: absolute;
      left: 0;
      top: 51px;
      background: #fff;
      width: calc(100% + 80px);
      z-index: 5;
      padding: 0;

      &.show_menu {
        display: block !important;
      }

      > li {
        span {
          height: 46px;
          right: 35px;
          top: -2px;
        }

        > a {
          color: $paragraph;
          font-size: 14px;
          text-transform: capitalize;
          border-bottom: 1px solid #dfe3e7;
          font-weight: 600;
          padding: 15px 40px;
          letter-spacing: unset !important;

          &:hover, &.active_cat {
            color: $orange;
          }
        }

        > ul.sub-menu {
          padding: 10px 40px;
          border-bottom: 1px solid #dfe3e7;

          li a {
            font-weight: 400;
            font-size: 12px;
            border-bottom: none;
            padding: 5px 0;

            &:hover {
              color: $orange;
            }
          }
        }
      }
    }
  }
  .featured_news {
    padding-top: 60px;
  }
  .blog_and_news .container > div ul.post_list li {
    width: $full;
    margin-left: 0px;
    margin-bottom: 30px;
    .post_thumb {
      max-width: 100%;
    }
  }
  .btn.scroll_load {
    background: #f04c23;
    border-color: #f04c23;
    color: #fff;
  }
  .contact_callout ul.gform_fields li.gfield {
    width: 100% !important;
    margin-left: 0px !important;
  }
  .contact_callout ul.gform_fields li.gfield#field_5_4 {
    width: 100% !important;
  }
  .contact_callout .gform_footer {
    position: static;
  }
}

@media (max-width: 479px) {

  footer {
    .footer_logo {
      margin: 0 auto 15px;
    }

    .footer-right {
      @include flex-direction(column);
      @include align-items(center);
      text-align: center;

      .footer-col {
        width: 100% !important;
      }
    }
  }

  #home_slider .owl-item {
    img {
      height: 250px;
    }

    h1 {
      font-size: 20px;
      line-height: 26px;
      letter-spacing: -0.026em;
    }
  }
  h2 {
    font-size: 26px;
    line-height: 30px;
  }
  h3 {
    font-size: 14px;
  }
  h4 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
    line-height: 20px;
  }
  .intro_section .intro_video {
    height: 260px;
  }
  .featured_main {
    padding: $spc20 0;
  }
  .radio_callout, .events_callout, .news_callout {
    padding: 85px 0;
  }
  .radio_callout .container, .events_callout .container, .news_callout .container {
    h2 {
      padding-left: 0px;
      background: none;
    }

    /*    a.btn {
            display:none;
       }*/
  }
  .blog_and_news .container > div ul.post_list {
    li {
      .mobile_date {
        display: block;

        .post_disc {
          padding: 20px;
        }
      }
    }
  }
  .inner_banner {
    min-height: 275px;
  }
  .contact_form .gform_wrapper ul.gform_fields li.gfield {
    width: 100%;
    margin: 0px;

    &#field_2_2, &#field_2_4 {
      margin-left: 0px !important;
    }
  }
  .contact_form .gform_wrapper .gform_footer input[type="submit"] {
    max-width: 150px;
  }
  .hero {
    #home_slider {
      width: calc(100% - 125px);
    }

    > .container-large {
      width: 125px;
    }
  }
  .intro_section .intro_text .text_inner {
    background-size: 300px auto;
    background-position: right -100px bottom 100px;
  }
  .team_members ul.members li {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 30px;

    h4 {
      font-size: 18px;
    }

    h3 {
      font-size: 14px;
    }

    p {
      font-size: 14px;
      line-height: 20px;
    }
  }
  .archive_section h2 {
    margin-bottom: 25px;
  }
}

@media (max-width: 374px) {
  .main_nav > ul > li > a {
    padding: 16px 20px;
  }
  .main_nav > ul > li span {
    right: 14px;
  }
  .container {
    padding: 0px 20px;
  }
  .radio_callout, .events_callout, .news_callout {
    padding: 55px 0;
  }
  .three_sections .column {
    padding: 35px 20px 45px;
  }
  .intro_section .intro_text .text_inner {
    padding: 45px 20px;
  }
  .hero #home_slider .item .slide_caption {
    padding: 15px 20px 15px 20px;
  }
  .two_cta > div {
    padding: 50px 20px;
  }
  ul.archive_list li .post_disc {
    padding: $spc20 $spc20 $spc80;
  }
  .page-template-template-news-events {
    .upcoming_event {
      &:before {
        width: $spc20;
      }

      &:after {
        width: $spc20;
      }
    }
  }
  .blog_banner h1.image_callout {
    padding: 28px 20px 21px;
  }
  .page_container {
    padding-top: 0px;

    .page_article .dots_outer {
      left: -20px;
      width: calc(100% + 40px);
    }
  }
  .privacy_and_disclosure > div {
    padding: 40px 20px;
  }
}
 