 .main_nav {
     > ul {
         @include flexbox();
         @include align-items(center);
         @include justify-content(center);
         > li {
             list-style:none;
             padding: 60px 13px;
             > a {
                 padding:$spc10 + 5 0;
                 color:$blue;
                 font-size:$spc10 + 2;
                 text-transform:uppercase;
                 font-weight:$semibold;
                 letter-spacing:0.12em;
                 border-bottom:2px solid transparent;
            }
             &:hover > a {
                 border-color:$orange;
            }
			&.current-menu-item > a { color:$orange; }
             .sub-menu {
                 display:none;
                 padding: 30px 0;
                 background:$white;
                 position:$absl;
                 top:100%;
                 z-index:10;
                 &:before {
                     background: #fff;
                     content: "";
                     left:-99999px;
                     width: 999999px;
                     top: 0;
                     bottom: 0;
                     position: absolute;
                     z-index:-1;
                }
                 &:after {
                     background: #e4e5e7;
                     content: "";
                     left:-99999px;
                     width: 999999px;
                     height:1px;
                     top: 0;
                     position: absolute;
                     z-index: -1;
                }
                 li {
                     list-style:none;
                     a {
                         color:$blue;
                         font-size:$spc10 + 2;
                         font-weight:600;
                         text-transform:capitalize;
                         padding:7px 0px;
                         display:block;
                    }
                     &:hover a {
                         color:$orange;
                    }
                }
            }
        }
    }
}

@media (min-width:768px) {
	
	.main_nav > ul > li.menu-item-has-children:hover > ul.sub-menu {
    display: block;
}
	
	}