/* Set universal font sizes and styles here */
h1 {
  font-family: 'Domine', serif;
  font-weight: $bold;
  font-size: $spc50;
  line-height: $spc60;
  color: $white;
  margin-bottom: $spc20;
}

h2 {
  font-family: 'Domine', serif;
  font-size: $spc30 + 5;
  line-height: $spc40 + 1;
  font-weight: $bold;
  color: #082b51;
  margin-bottom: $spc20;
  letter-spacing: -0.035em;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: $spc20 - 4;
  text-transform: uppercase;
  font-weight: $semibold;
  color: $paragraph;
}

h4 {
  font-family: 'Domine', serif;
  font-size: $spc20;
  line-height: $spc20 + 6;
  font-weight: $bold;
  color: #2a2c2d;
}

h5 {
  font-family: 'Domine', serif;
  font-size: $spc20 - 6;
  line-height: $spc20;
  font-weight: $bold;
  color: $white;
  margin-bottom: $spc10;
}

body {
  font-family: 'Raleway', sans-serif;
}

input, textarea, select, button, a {
  outline: none;
}

p {
  margin-bottom: $spc30;
  font-size: 18px !important;
  font-family: 'Raleway', sans-serif;
  line-height: 30px !important;
  font-weight: 500;
  color: $paragraph;
}

strong {
  font-weight: $extra_bold;
}

.btn {
  font-family: 'Domine', serif;
  font-size: $spc10 + 3;
  text-transform: uppercase;
  font-weight: $bold;
  color: $blue;
  letter-spacing: 0.025em;
  border: 2px solid $blue;
  min-height: $spc50;
  padding: 15px 20px;
  display: inline-block;
  cursor: pointer;
  line-height: 21px;
  min-width: $spc50*3;
  text-align: center;
  @include hover-transition();

  &:hover {
    background: $orange;
    border-color: $orange;
    color: $white;
  }

  &.white {
    border-color: $white;
    color: $white;

    &:hover {
      border-color: $orange;
    }
  }
}

.btn_underline {
  color: $blue;
  display: inline-block;
  @include hover-transition();
  border-bottom: 2px solid $blue;
  padding: $spc10 $spc20 $spc10 0;
  text-transform: uppercase;
  font-family: $domine;
  font-size: 13px;
  position: $rel;
  font-weight: $bold;

  &:before {
    width: 5px;
    height: 5px;
    content: "";
    @include hover-transition();
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid $blue;
    position: $absl;
    right: 0px;
    top: 13px;
  }

  &:hover {
    color: $orange;
    border-bottom-color: $orange;

    &:before {
      border-top-color: $orange;
    }
  }
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}