/*----------------------------------------------------------------------------------

  Layout > 100
 
----------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------*/
/*  Grid
/*----------------------------------------------------------------------------------*/

body {
	min-width: 1000px;
}

$total_width: 1000px;
$container_margin: auto;
$gutter_width: 20px;
$max_width: 1000px;

#page {
	margin-top: 0;
}

.wrap {
	@include container();
}

.site-header { display: block; }

.site-branding { }

body.home {
	.site-main #primary {
		padding: 0;
	}
}

.site-main {
	@include clearfix();

	#primary {
		width: 680px;
		float: left;
		padding: 0;
	}

	#primary.full-width {
		@include column(12);
	}	

	#primary.archive {
		width: 100%;

		.entry-top,
		header.entry-header,
		.entry-summary,
		footer.entry-meta {
			@include container();
		}
	}

	#secondary {
		width: 320px;
		float: left;
	}
}

.site-footer { }

/*----------------------------------------------------------------------------------*/
/*  Header
/*----------------------------------------------------------------------------------*/

.site-header {}

.site-top {

	.site-top-inner {
		text-align: left;
		padding: 10px 0;
	}

	.address li:first-child {
		width: inherit;
		margin-left: 80px;
		text-align: left;
		width: inherit;		
	}	

	li {
		float: left;
		list-style-type: none;
		margin-left: 18px;
		margin-bottom: 0;

		&:first-child {
			margin-left: 18px;
		}


		&.location {
			text-align: left;
			width: inherit;
			margin-left: 15px;
		}
			}

	a {
		text-decoration: none;
	}

	span {
		text-indent: -999999px;
		display: inline-block;
		margin-right: 3px;
		background: url(../img/top-sprite.png) no-repeat;		
	}

	.location span {
		width: 10px;
		height: 14px;
		background-position: 0 0;
	}

	.email span {
		width: 19px;
		height: 14px;
		background-position: -20px 0;
	}

	.phone span {
		width: 12px;
		height: 14px;
		background-position: -49px 0;
	}

	.login span:first-child {
		width: 12px;
		height: 14px;
		margin-left: 0;
		background-position: -71px 0;
	}

	.login span {
		width: 7px;
		height: 14px;
		margin-left: 7px;
		background-position: -93px 0;
	}
}

.site-branding {
	float: left;
	margin-bottom: -47px;
	position: relative;
	top: -45px;	
}

.site-title {
	display: block;
	margin: 0;

	a {
		width: 292px;
		height: 140px;
		background: url(../img/logo.png) no-repeat;
		display: block;
		text-indent: -99999px;
	}
}

/*----------------------------------------------------------------------------------*/
/*  Top Menu
/*----------------------------------------------------------------------------------*/

.top-navigation {
	display: block;
	float: right;
	@include clearfix();

	ul {
		margin: 0;
		padding: 0;
		@include clearfix();
	}

	li {
		float: left;
		margin: 0 0 0 30px;
		list-style-type: none;
		padding-left: 10px;		
		border-left: 1px solid $orange;
		height: 90px;

		&:first-child {
			margin-left: 0;
		}
	}

	a {
		color: $base-color;
		text-decoration: none;
		font-weight: 700;
		font-size: 16px;		
		text-transform: uppercase;
		margin-top: 60px;
		display: block;

		&:hover {
			color: lighten($base-color, 30%);
		}		

		span {
			display: block;
			font-weight: 400;
			font-size: 12px;
			text-transform: none;
			color: $orange;
		}
	}
}

.top-navigation li:hover > .sub-menu {
	display: block;
}

.top-navigation .sub-menu {
	display: none;
	position: absolute;
	@include border-radius(0 0 5px 5px);
	width: 125px;

	li {
		float: none;
		margin: 0;
		padding: 8px 0;
		border-top: 1px solid lighten($base-color, 15%);

		&:first-child {
			border-top: 0;
		}		
	}

	a {
		color: $white;
		display: block;
		padding: 2px 15px;
		@include transition(background 1s);

		&:hover {
			color: lighten($base-color, 30%);
		}
	}
}

.top-navigation .sub-menu .sub-menu {
	left: 125px;
	top: 14px;
	@include border-radius(0 5px 5px 0);
	background: darken($grey, 10%);	
}

/*----------------------------------------------------------------------------------*/
/*  Primary Menu
/*----------------------------------------------------------------------------------*/

.menu-primary-menu-container {
	width: 900px;
	float: left;
	display: block;
}

.menu-primary-menu-container {
	@include clearfix();

	ul {
		margin: 24px 0;
		padding: 0;
		@include clearfix();
	}

	li {
		float: left;
		margin: 0 0 0 20px;
		list-style-type: none;

		&:first-child {
			margin-left: 0;
		}
	}

	a {
		color: $base-color;
		text-decoration: none;
		font-weight: 600;
		font-size: 12px;
		text-transform: uppercase;
		display: block;
		padding-right: 13px;
		background: url(../img/drop-arrow.png) no-repeat right 50%;

		&:hover {
			color: $white;
		}
	}
}

.menu-primary-menu-container li:hover > .sub-menu {
	display: block;
}

.menu-primary-menu-container li:first-child:hover {
	margin-left: -11px;
}

.menu-primary-menu-container li:hover a {
	background: url(../img/drop-arrow-a.png) no-repeat right 50%;
	color: $white;
}

.menu-primary-menu-container li:hover {
	background: rgba(000, 000, 000, .70);
	padding: 6px 11px 7px 11px;
	margin-top: -6px;
	margin-left: 9px;
	margin-right: -11px;
	margin-bottom: -20px;
	border-radius: 3px 3px 0 0;
}

.menu-primary-menu-container .sub-menu {
	display: none;
	position: absolute;
	z-index: 99999999;
	background: rgba(000, 000, 000, .70);
	@include border-radius(0 0 5px 5px);
	width: 270px;
	margin: 7px 0 0 -11px;

	li:first-child:hover {
		margin-left: 0;
	}

	li {
		float: none;
		margin: 0;
		padding: 0;
		background: transparent;
	}

	a {
		color: $white;
		display: block;
		padding: 8px 15px;
		background: transparent !important;

		&:hover {
			background: $white url(../img/drop-arrow-right.png) no-repeat 95% 50% !important;
			color: $orange;
			padding: 8px 15px;	
		}
	}
}

.main-navigation .sub-menu .sub-menu {
	left: 125px;
	top: 14px;
	@include border-radius(0 5px 5px 0);
	background: darken($grey, 10%);	
}

/*----------------------------------------------------------------------------------*/
/*  Mobile Menu
/*----------------------------------------------------------------------------------*/

.mobile-menu, .mobile-logo, .mobile-logo:hover {
	display: none;
}


/*----------------------------------------------------------------------------------*/
/*  Social Menu
/*----------------------------------------------------------------------------------*/

ul.social {
	display: block;
}

/*----------------------------------------------------------------------------------*/
/*  Banner
/*----------------------------------------------------------------------------------*/

.site-banner {
	position: relative;
	width: 1000px;
	height: 380px;
	border-radius: 7px 7px 0 0;


	img {
		width: 1000px;
		height: 380px;
		display: block;
		border-radius: 7px 7px 0 0;		
	}

	.banner-content {
		position: absolute;
		top: 40%;
		left: 50px;
		width: 420px;
		font-size: 32px;
		font-weight: 100;
		line-height: 36px;
		color: #6b6d75;

		strong {
			color: $orange;
		}
	}
}


/*----------------------------------------------------------------------------------*/
/*  Grey Content Box
/*----------------------------------------------------------------------------------*/

.grey-content {
	font-size: 32px;
	font-weight: 100;
	line-height: 36px;	
	color: #fff;
	padding: 50px 50px 20px 50px;
	background: #848690;
	background: -moz-linear-gradient(-45deg,  #848690 0%, #53545b 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#848690), color-stop(100%,#53545b));
	background: -webkit-linear-gradient(-45deg,  #848690 0%,#53545b 100%);
	background: -o-linear-gradient(-45deg,  #848690 0%,#53545b 100%);
	background: -ms-linear-gradient(-45deg,  #848690 0%,#53545b 100%);
	background: linear-gradient(135deg,  #848690 0%,#53545b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#848690', endColorstr='#53545b',GradientType=1 );
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*----------------------------------------------------------------------------------*/
/*  Main Content
/*----------------------------------------------------------------------------------*/

.site-main {
	background: #e5e5ea;
}

.white-section {
	img {
		display: block;
	}
}

.white-content {
	background: $white;
	padding: 10px 50px 20px 50px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	h3 {
		color: $orange;
		margin-bottom: 15px;
	}

	ul {
		padding: 0;
		margin: 0;
	}

	li {
		list-style-type: none;
		background: url(../img/bullet.png) left 8px no-repeat;
		padding-left: 20px;
		line-height: 24px;
	}
}


/*----------------------------------------------------------------------------------*/
/*  Primary Content
/*----------------------------------------------------------------------------------*/

.site-content {
	background: $lt-grey;
	padding: 30px 50px 20px 50px;	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 18px;
	color: #838395;
}


/*----------------------------------------------------------------------------------*/
/*  Post Styles
/*----------------------------------------------------------------------------------*/

.entry-content,
.entry-summary {

}

.entry-top img {
	width: 100%;
	height: auto;
}

/*----------------------------------------------------------------------------------*/
/*  Home
/*----------------------------------------------------------------------------------*/

.home-quote {
	min-height: 230px;
	width: 580px;
	margin-top: 0;
	margin-bottom: 0;
	padding: 45px 30px 10px 30px;
	float: left;

	p {
		margin: 0;
	}
}

a.getting-started {
	min-height: 228px;	
	height: 205px;
	width: 400px;
	float: left;
	margin-left: 20px;	

	.gradient-hover {
		min-height: 228px;		
		width: 400px;
		height: 205px;
	}	
}

.jon-photo {
	float: left;
	width: 400px;
	min-height: 613px;
}

.home-right-boxes {
	float: left;
	width: 580px;
	margin-left: 20px;

	a.financial-planning {
		float: left;
		width: 230px;
		height: 230px;
		padding: 30px;

		h1 {
			position: absolute;
			bottom: 10px;
			font-size: 30px;
			line-height: 32px;			
		}

		.gradient-hover {
			width: 230px;
			height: 230px;
		}		
	}

	a.wealth-management {
		width: 330px;
		float: left;
		height: 230px;	
		margin-left: 20px;	
		margin-bottom: 20px;

		h1 {		
			position: absolute;
			bottom: 10px;
			font-size: 30px;
			line-height: 32px;			
		}

		.gradient-hover {
			width: 330px;
			height: 230px;
		}		
	}

	.newsletter {
		width: 580px;
		float: left;

		h1, h2 {
			padding-top: 58px;
			display: block;
		}	
	}

}

body .newsletter .gform_wrapper {
	ul li.gfield {
		margin-left: 10px !important;
		margin-bottom: 0 !important;
		width: inherit;	
	}

	input[type=text],
	input[type=url],
	input[type=email],
	input[type=tel],
	input[type=number],
	input[type=password],
	textarea.medium,
	.top_label select.medium,
	.top_label input.medium {
		width: 228px;		
	}	

	.gform_footer {
		width: 44px;
		margin-left: 10px;
	}	

	input.button, body .gform_wrapper .gform_footer input[type=submit] {
		width: inherit;
	}	
}

/*----------------------------------------------------------------------------------*/
/*  Contact
/*----------------------------------------------------------------------------------*/

.contact-left {
	float: left;
	width: 550px;
	margin-right: 30px;
}

.contact-right {
	float: left;
	width: 320px;
}

/*----------------------------------------------------------------------------------*/
/*  Footer
/*----------------------------------------------------------------------------------*/

.secondary-content {
	padding: 0;

	a {
		height: 230px;
		float: left;
		margin-left: 20px;

		&:first-child {
			margin-left: 0;
		}
	}

	.news-boxes {

		h1 {
			margin-top: 0;			
		}

		h2 {
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 5px;

			span {
				font-weight: 100;
			}
		}

		h1, h2 {
			color: $white;
		}

		p {
			font-size: 18px;
			line-height: 24px;
			font-weight: 200;
			width: 95%;
		}	
	}	

	.three-boxes {
		margin-bottom: 0;
	}

	a.your-needs {
		width: 500px;
	}

	a.learn-more {
		width: 230px;
		height: 230px;

		.gradient-hover {
			width: 230px;
			height: 230px;	    
		}	
	}

	a.women-wealth {
			width: 230px;
			height: 230px;

		&:hover .gradient-hover {
			opacity: 1;
		}

		.gradient-hover {
			width: 230px;
			height: 230px;
		}		

		&:hover {
			color: $white;
		}		
	}

	a.news-room {
		width: 400px;
		height: 230px;

		.gradient-hover {
			width: 400px;
			height: 230px;	    
		}	
	}	

	a.money-sense {
		width: 580px;
		height: 230px;		

		.gradient-hover {
			width: 580px;
			height: 230px;	    
		}
	}		

}

/*----------------------------------------------------------------------------------*/
/*  Footer Links
/*----------------------------------------------------------------------------------*/

.footer-links {
}

/*----------------------------------------------------------------------------------*/
/*  Footer
/*----------------------------------------------------------------------------------*/

.footer-navigation {
	float: left;
	width: 480px;
}

.site-footer-inner {
	padding: 0;
}

.copyright {
	float: right;
	clear: none;
}

.footer-navigation {
	li {
		margin: 0 0 0 30px;
	}
}

.site-footer {
	text-align: left;

	ul.social {
		margin: -2px 0 0 0;
		float: right;
		display: block;
	}
}

.affiliates-logos {
	height: 90px;
	padding: 0;
	text-align: left;

	ul {
		padding: 0;
		display: block;
	}

	li {
		line-height: 90px;	
		margin-left: 48px;
		width: 10%;

		img {
			vertical-align: middle;
			display: inline;
			width: 100%;
		}
	}
}

/*----------------------------------------------------------------------------------*/
/*  Slideshow - BxSlider v4
/*----------------------------------------------------------------------------------*/

.slideshow {
	position: relative;

	li {
		padding: 0;
	}

	.slide-content {
		position: absolute;
		width: 470px;
		right: 10px;
		top: 40px;		
	}

	img {
		display: block;
	}
}

.bx-has-pager {
	text-align: left;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: 34px;
	width: 500px;
	z-index: 9999999;
	left: 519px;
}

/*----------------------------------------------------------------------------------*/
/*  IE8 Fixes
/*----------------------------------------------------------------------------------*/

.lt-ie9 {
	.menu-primary-menu-container .sub-menu {
		background: $black;
	}	
}