/*----------------------------------------------------------------------------------*/
/*  @2x
/*----------------------------------------------------------------------------------*/

.site-top {

	span { background: url(../img/top-sprite@2x.png) no-repeat; background-size: 75px 10.5px; }

	.location span {
		width: 10px;
		height: 14px;
		background-position: 0 3px;
	}

	.email span {
		width: 19px;
		height: 14px;
		background-position: -14px 3px;
	}

	.phone span {
		width: 12px;
		height: 14px;
		background-position: -35px 3px;
	}

	.login span:first-child {
		width: 12px;
		height: 14px;
		margin-left: 0;
		background-position: -51px 3px;
	}

	.login span {
		width: 7px;
		height: 14px;
		margin-left: 7px;
		background-position: -69px 3px;
	}

}


.site-title a { background: url(../img/logo@2x.png) no-repeat; background-size: 292px 140px; }

body.home .site-title a { background: url(../img/logo-white@2x.png) no-repeat; background-size: 292px 140px; }

.mobile-logo, .mobile-logo:hover { background: url(../img/logo-mobile@2x.png) no-repeat; background-size: 200px 30px; }

ul.social a { background: url(../img/social@2x.png) no-repeat; background-size: 89px 20px; }

.site-footer ul.social a { background: url(../img/social-white@2x.png) no-repeat; background-size: 89px 20px; }

body.home ul.social a { background: url(../img/social-white@2x.png) no-repeat; background-size: 89px 20px; }