/*----------------------------------------------------------------------------------

  Layout > 720

----------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------*/
/*  Grid
/*----------------------------------------------------------------------------------*/

$total_width: 100%;
$container_margin: 1%;
$gutter_width: 2%;
$max_width: 2000px;

.site-header {

	.site-branding {
	}

	.main-navigation {
	}	
}

.site-main {
	
	#primary {
	}

	#secondary {
	}
}

.site-footer {

	.site-info {
	}	
}

.site-top {

	li {
		margin-left: 18px;
		font-size: 14px;
	}
}

/*----------------------------------------------------------------------------------*/
/*  Home
/*----------------------------------------------------------------------------------*/

.home-quote {
	width: 57%;
	min-height: 290px;
	margin-top: 0;
	float: left;
}

a.getting-started {
	min-height: 290px;
	width: 40%;
	float: left;
	margin-left: 20px;	

	.gradient-hover {
		width: 100%;
		min-height: 290px;
	}	
}

.jon-photo {
	float: left;
	width: 57%;	
	max-height: 732px;
	min-height: 713px;
	position: relative;

	img {
		width: auto;
		max-height: 672px;
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -170px;		
	}
}

.home-right-boxes {
	float: left;
	width: 40%;
	margin-left: 20px;

	a.financial-planning {
		float: left;
		width: 100%;
		height: 180px;
		padding: 30px;		
	-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;			
		background: url(../img/arrow-white.png) no-repeat 89% 81%, rgb(167,167,172);
		background: url(../img/arrow-white.png) no-repeat 89% 81%, -moz-linear-gradient(top,  rgba(167,167,172,0.9) 0%, rgba(120,121,132,0.9) 100%);
		background: url(../img/arrow-white.png) no-repeat 89% 81%, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,167,172,0.9)), color-stop(100%,rgba(120,121,132,0.9)));
		background: url(../img/arrow-white.png) no-repeat 89% 81%, -webkit-linear-gradient(top,  rgba(167,167,172,0.9) 0%,rgba(120,121,132,0.9) 100%);
		background: url(../img/arrow-white.png) no-repeat 89% 81%, -o-linear-gradient(top,  rgba(167,167,172,0.9) 0%,rgba(120,121,132,0.9) 100%);
		background: url(../img/arrow-white.png) no-repeat 89% 81%, -ms-linear-gradient(top,  rgba(167,167,172,0.9) 0%,rgba(120,121,132,0.9) 100%);
		background: url(../img/arrow-white.png) no-repeat 89% 81%, linear-gradient(to bottom,  rgba(167,167,172,0.9) 0%,rgba(120,121,132,0.9) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7a7ac', endColorstr='#787984',GradientType=0 );

		h1 {
			position: absolute;
			bottom: 10px;
			font-size: 30px;
			line-height: 32px;			
		}

		.gradient-hover {
			background: url(../img/arrow-white.png) no-repeat 89% 81%, rgb(140,139,142);
			background: url(../img/arrow-white.png) no-repeat 89% 81%, -moz-linear-gradient(top,  rgba(140,139,142,1) 0%, rgba(105,104,114,1) 100%);
			background: url(../img/arrow-white.png) no-repeat 89% 81%, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(140,139,142,1)), color-stop(100%,rgba(105,104,114,1)));
			background: url(../img/arrow-white.png) no-repeat 89% 81%, -webkit-linear-gradient(top,  rgba(140,139,142,1) 0%,rgba(105,104,114,1) 100%);
			background: url(../img/arrow-white.png) no-repeat 89% 81%, -o-linear-gradient(top,  rgba(140,139,142,1) 0%,rgba(105,104,114,1) 100%);
			background: url(../img/arrow-white.png) no-repeat 89% 81%, -ms-linear-gradient(top,  rgba(140,139,142,1) 0%,rgba(105,104,114,1) 100%);
			background: url(../img/arrow-white.png) no-repeat 89% 81%, linear-gradient(to bottom,  rgba(140,139,142,1) 0%,rgba(105,104,114,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8b8e', endColorstr='#696872',GradientType=0 );		    
		}		

		.gradient-hover {
			width: 100%;
			height: 180px;
		}		
	}

	a.wealth-management {
		width: 100%;
		float: left;
		height: 180px;	
		margin-left: 0;	
		margin-bottom: 20px;
		padding: 30px 30px 10px 30px;		
	-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;			
		background: url(../img/arrow-white.png) no-repeat 89% 81%, -moz-linear-gradient(left,  rgba(230,89,27,0.9) 0%, rgba(216,56,17,0.9) 100%);
		background: url(../img/arrow-white.png) no-repeat 89% 81%, -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(230,89,27,0.9)), color-stop(100%,rgba(216,56,17,0.9)));
		background: url(../img/arrow-white.png) no-repeat 89% 81%, -webkit-linear-gradient(left,  rgba(230,89,27,0.9) 0%,rgba(216,56,17,0.9) 100%);
		background: url(../img/arrow-white.png) no-repeat 89% 81%, -o-linear-gradient(left,  rgba(230,89,27,0.9) 0%,rgba(216,56,17,0.9) 100%);
		background: url(../img/arrow-white.png) no-repeat 89% 81%, -ms-linear-gradient(left,  rgba(230,89,27,0.9) 0%,rgba(216,56,17,0.9) 100%);
		background: url(../img/arrow-white.png) no-repeat 89% 81%, linear-gradient(to right,  rgba(230,89,27,0.9) 0%,rgba(216,56,17,0.9) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e75d1e', endColorstr='#e6da3e14',GradientType=1 );

		.gradient-hover {
			background: url(../img/arrow-white.png) no-repeat 89% 81%, -moz-linear-gradient(left,  rgba(231,93,30,1) 0%, rgba(218,62,20,1) 100%);
			background: url(../img/arrow-white.png) no-repeat 89% 81%, -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(231,93,30,1)), color-stop(100%,rgba(218,62,20,1)));
			background: url(../img/arrow-white.png) no-repeat 89% 81%, -webkit-linear-gradient(left,  rgba(231,93,30,1) 0%,rgba(218,62,20,1) 100%);
			background: url(../img/arrow-white.png) no-repeat 89% 81%, -o-linear-gradient(left,  rgba(231,93,30,1) 0%,rgba(218,62,20,1) 100%);
			background: url(../img/arrow-white.png) no-repeat 89% 81%, -ms-linear-gradient(left,  rgba(231,93,30,1) 0%,rgba(218,62,20,1) 100%);
			background: url(../img/arrow-white.png) no-repeat 89% 81%, linear-gradient(to right,  rgba(231,93,30,1) 0%,rgba(218,62,20,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e75d1e', endColorstr='#e6da3e14',GradientType=1 );		    
		}

		h1 {		
			position: absolute;
			bottom: 10px;
			font-size: 30px;
			line-height: 32px;			
		}

		.gradient-hover {
			width: 100%;
			height: 180px;
		}		
	}

	.newsletter {
		width: 100%;
		float: left;
		margin-bottom: 20px;

		h1, h2 {
			padding-top: 0;
		}	
	}

}

/*----------------------------------------------------------------------------------*/
/*  Footer
/*----------------------------------------------------------------------------------*/

.secondary-content .three-boxes {
	margin-bottom: 0;
	margin-top: 20px;
}

.secondary-content .news-boxes h1 {
	font-size: 30px;
}

.secondary-content .news-boxes h2 {
	margin-top: 0;
	margin-bottom: 5px;
	line-height: 35px;
}

.secondary-content .news-boxes p {
	width: 95%;
}
 
body.home .secondary-content .three-boxes {
	margin-top: 0;
}

body.home .secondary-content {
	margin-top: 0;
}

.secondary-content {
	margin-top: 20px;

	a {
		height: 230px;
		float: left;
		margin-left: 20px;

		&:first-child {
			margin-left: 0;
		}
	}

	a.your-needs {
		width: 40%;
	}

	a.learn-more {
		width: 27%;
		height: 230px;

		h1 {
			font-size: 30px;
			line-height: 32px;			
		}

		.gradient-hover {
			width: 100%;
			height: 230px;	    
		}	
	}

	a.women-wealth {
		width: 27%;
		height: 230px;

		&:hover .gradient-hover {
			opacity: 1;
		}

		h1 {
			font-size: 30px;
			line-height: 32px;			
		}

		.gradient-hover {
			width: 100%;
			height: 230px;
		}		

		&:hover {
			color: $white;
		}		
	}

	a.news-room {
		width: 49%;
		height: 230px;

		.gradient-hover {
			width: 100%;
			height: 230px;	    
		}
	}	

	a.money-sense {
		width: 48%;
		height: 230px;
		margin-bottom: 0;	

		.gradient-hover {
			width: 100%;
			height: 230px;	    
		}
	}		
}

.footer-navigation {

	li {
		font-size: 14px;		
		margin: 0 0 0 20px;
	}
}

/*----------------------------------------------------------------------------------*/
/*  Slideshow - BxSlider v4
/*----------------------------------------------------------------------------------*/

@media only screen  and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.slideshow {
		position: relative;

		li {
			padding: 0;
		}

		.slide-content {
			position: absolute;
			width: 400px;
			right: 10px;
			top: -10px;		
		}

		img {
			display: block;
		}
	}

	.bx-has-pager {
		text-align: left;
	}

	.bx-wrapper .bx-pager,
	.bx-wrapper .bx-controls-auto {
		position: absolute;
		bottom: 34px;
		z-index: 9999999;
		left: 519px;
	}
}


/*----------------------------------------------------------------------------------*/
/*  Footer
/*----------------------------------------------------------------------------------*/

.footer-links-inner {
	.col-one,
	.col-two,
	.col-three,
	.col-four {
		float: left;
		width: 25%;
	}
}

.affiliates-logos {

	li {
		width: 24%;

		img {
			width: 30%;
		}
	}
}