/*----------------------------------------------------------------------------------

  Base Styles
 
----------------------------------------------------------------------------------*/

html {
	font-size: 100%;	
}

body {
	background: $white;
	font-family: 'klavika', sans-serif;
	font-size: $base-font-size;
	line-height: $base-line-height;
	color: $base-color;
}

a.finra{
	position: fixed;
    bottom: 0;
    right: 100px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px 20px;
    border-radius: 4px;
}

/*----------------------------------------------------------------------------------*/
/*  Grid
/*----------------------------------------------------------------------------------*/

$total_width: 100%;
$container_margin: 1%;
$gutter_width: 2%;
$max_width: 2000px;

#page {
	margin-top: 45px;
}

.row {
	@include clearfix();
}

.site-header {

	.site-branding {
	}

	.main-navigation {
	}	
}

body.home {
	.site-main #primary {
		padding: 0 20px;
	}
}

.site-main {

	#secondary {
	}
}

.site-footer {

	.site-info {
	}	
}


/*----------------------------------------------------------------------------------*/
/*  Header
/*----------------------------------------------------------------------------------*/

.site-header {
	@include clearfix;
}

.site-top {
	background: $lt-grey;
	@include clearfix;

	.site-top-inner {
		text-align: center;
		padding: 20px;
	}

	ul {
		margin: 0;
		padding: 0;
		display: inline-block;		
	}

	.address {
		display: block;
	}

	.address li:first-child {
		width: 100%;
	}

	li {
		float: left;
		list-style-type: none;
		margin-left: 9px;
		margin-bottom: 5px;
		font-size: 11px;

		&:first-child {
			margin-left: 0;
			text-align: center;
		}

		&.location {
			margin-left: 0;
			width: 100%;
			text-align: center;
		}		
	}

	a {
		text-decoration: none;
	}

	span {
		text-indent: -999999px;
		display: inline-block;
		margin-right: 3px;
		background: url(../img/top-sprite.png) no-repeat;		
	}

	.location span {
		width: 10px;
		height: 14px;
		background-position: 0 0;
	}

	.email span {
		width: 19px;
		height: 14px;
		background-position: -20px 0;
	}

	.phone span {
		width: 12px;
		height: 14px;
		background-position: -49px 0;
	}

	.login span:first-child {
		width: 12px;
		height: 14px;
		margin-left: 0;
		background-position: -71px 0;
	}

	.login span {
		width: 7px;
		height: 14px;
		margin-left: 7px;
		background-position: -93px 0;
	}
}

.site-branding {
	text-align: center;
	margin-bottom: 30px;
}

.site-title {
	display: none;
	margin: 0;

	a {
		width: 292px;
		height: 140px;
		background: url(../img/logo.png) no-repeat;
		display: block;
		text-indent: -99999px;
		text-decoration: none;		
	}
}

.top-navigation {
	display: none;
}

/*----------------------------------------------------------------------------------*/
/*  Primary Menu
/*----------------------------------------------------------------------------------*/

.menu-primary-menu-container {
	display: none;
}

/*----------------------------------------------------------------------------------*/
/*  Mobile Menu
/*----------------------------------------------------------------------------------*/

.mobile-logo, .mobile-logo:hover {
	background: url(../img/logo-mobile.png) no-repeat;
	width: 200px;
	height: 30px;
	display: block;
	text-indent: -999999px;
	position: absolute;
	z-index: 9999999999999;
	top: 10px;
	left: 20px;
	background-size: 130px;
}

.mobile-menu {
	background: $orange;
	position: absolute;
	top: 0;
	width: 100%;
	min-height: 25px;
	z-index: 9999999999;
	padding: 20px 0 0 0;

	.hamburger {
		position: absolute;
		right: 20px;
		top: 15px;
		color: #fff;
		cursor: pointer;
		font-size: 25px;
	}

	ul {
		display: none;
		margin: 0;
		padding: 25px 0 0 0;
	}

	li {
		list-style-type: none;
		padding: 0;
		margin: 0;
		position: relative;
		
		&:last-child a {
			border-bottom: 0;
		}

		span {
			position: absolute;
			right: 20px;
			top: 10px;
			color: #fff;
			cursor: pointer;
		}				
	}

	a {
		color: $white;
		font-weight: 400;
		text-decoration: none;
		font-size: 15px;
		padding: 10px 20px;		
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;	
		border-bottom: 1px solid #fa995b;
		display: block;
		width: 100%;
		@include transition(background 1s);

		&:hover {
			background: #fa995b;
		}

		strong {
			font-weight: 400;
		}

		span {
			display: none;			
		}
	}

	.sub-menu {
		display: none;
		padding: 0;

		a {
			background: darken($orange, 20%);
			border-bottom: 1px solid darken($orange, 15%);

			&:hover {
				background: darken($orange, 10%);
			}					
		}
	}
}

/*----------------------------------------------------------------------------------*/
/*  Social Menu
/*----------------------------------------------------------------------------------*/

ul.social {
	margin: 20px 0;
	padding: 0;
	float: right;
	display: none;

	li {
		float: left;
		margin: 0 0 0 4px;
		padding: 0;
		list-style-type: none;
	}

	a {
		display: block;
		padding: 0;
		width: 20px;
		height: 20px;
		background: url(../img/social.png) no-repeat;
		text-indent: -99999px;
		@include transition(opacity 1s);

		&:hover {
			opacity: 0.7;
		}

		&.facebook, &.facebook:hover {
			background-position: 0 0;
		}

		&.linkedin, &.linkedin:hover {
			background-position: -23px 0;
		}

		&.twitter, &.twitter:hover {
			background-position: -46px 0;
		}

		&.youtube, &.youtube:hover {
			background-position: -69px 0;
		}
	}	
}

/*----------------------------------------------------------------------------------*/
/*  Banner
/*----------------------------------------------------------------------------------*/

.site-banner {
	position: relative;
	width: 100%;
	height: 163px;
	overflow: hidden;
	border-radius: 7px 7px 0 0;

	img {
		width: 100%;
		height: auto;
		min-height: 163px;
		display: block;
		border-radius: 7px 7px 0 0;		
	}

	.banner-content {
		position: absolute;
		top: 15%;
		left: 10%;
		width: 250px;
		font-size: 16px;
		font-weight: 100;
		line-height: 23px;
		color: #6b6d75;

		strong {
			color: $orange;
		}
	}
}

/*----------------------------------------------------------------------------------*/
/*  Grey Content Box
/*----------------------------------------------------------------------------------*/

.grey-content {
	font-size: 20px;
	font-weight: 100;
	line-height: 25px;	
	color: #fff;
	padding: 20px 20px 20px 20px;
	background: #848690;
	background: -moz-linear-gradient(-45deg,  #848690 0%, #53545b 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#848690), color-stop(100%,#53545b));
	background: -webkit-linear-gradient(-45deg,  #848690 0%,#53545b 100%);
	background: -o-linear-gradient(-45deg,  #848690 0%,#53545b 100%);
	background: -ms-linear-gradient(-45deg,  #848690 0%,#53545b 100%);
	background: linear-gradient(135deg,  #848690 0%,#53545b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#848690', endColorstr='#53545b',GradientType=1 );
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*----------------------------------------------------------------------------------*/
/*  Main Content
/*----------------------------------------------------------------------------------*/

.site-main {
	background: #e5e5ea;
	margin-bottom: 20px;
}

.white-section {
	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.white-content {
	background: $white;
	padding: 10px 50px 20px 50px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	h3 {
		color: $orange;
		margin-bottom: 15px;
	}

	ul {
		padding: 0;
		margin: 0;
	}

	li {
		list-style-type: none;
		background: url(../img/bullet.png) left 8px no-repeat;
		padding-left: 20px;
		line-height: 24px;
	}
}

/*----------------------------------------------------------------------------------*/
/*  Primary Content
/*----------------------------------------------------------------------------------*/

.site-content {
	background: $lt-grey;
	padding: 20px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
	color: #838395;
}

.entry-content,
.entry-summary {
	line-height: 1.8;
}

/*----------------------------------------------------------------------------------*/
/*  Post Styles
/*----------------------------------------------------------------------------------*/

.entry-content,
.entry-summary {

}

.entry-top img {
	width: 100%;
	height: auto;
}

/*----------------------------------------------------------------------------------*/
/*  Sidebar
/*----------------------------------------------------------------------------------*/

#secondary {
	ul {
		margin: 0;
		padding: 0;
		background: #f18138;
		background: -moz-linear-gradient(-45deg,  #f18138 0%, #e95324 100%);
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f18138), color-stop(100%,#e95324));
		background: -webkit-linear-gradient(-45deg,  #f18138 0%,#e95324 100%);
		background: -o-linear-gradient(-45deg,  #f18138 0%,#e95324 100%);
		background: -ms-linear-gradient(-45deg,  #f18138 0%,#e95324 100%);
		background: linear-gradient(135deg,  #f18138 0%,#e95324 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f18138', endColorstr='#e95324',GradientType=1 );
	}

	li {
		list-style-type: none;
		margin: 0;

		&.current_page_item a {
			background: #fa995b;
		}

		&.parent_page a {
			font-size: 19px;
			background: #e75d1e;
			background: -moz-linear-gradient(left,  #e75d1e 0%, #da3e14 100%);
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e75d1e), color-stop(100%,#da3e14));
			background: -webkit-linear-gradient(left,  #e75d1e 0%,#da3e14 100%);
			background: -o-linear-gradient(left,  #e75d1e 0%,#da3e14 100%);
			background: -ms-linear-gradient(left,  #e75d1e 0%,#da3e14 100%);
			background: linear-gradient(to right,  #e75d1e 0%,#da3e14 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e75d1e', endColorstr='#da3e14',GradientType=1 );
		}
	}

	a {
		font-size: 15px;
		color: $white;
		font-weight: 600;
		text-decoration: none;
		padding: 17px 20px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;	
		border-bottom: 1px solid #fa995b;
		display: block;
		width: 100%;
		@include transition(background 1s);

		&:hover {
			background: #fa995b;
		}		
	}
}

/*----------------------------------------------------------------------------------*/
/*  Post Styles
/*----------------------------------------------------------------------------------*/

.entry-meta {
	margin: 4px 0 10px 0;
	padding: 0;
	@include clearfix;

	li {
		float: left;
		padding: 0;
		margin: 0;
		list-style-type: none;
		margin-left: 40px;

		&:first-child {
			margin-left: 0;
		}
	}

	a {
		color: $base-color;
		text-decoration: none;
	}
}

/*----------------------------------------------------------------------------------*/
/*  Contact
/*----------------------------------------------------------------------------------*/

.contact-left {
	width: 100%;
}

.contact-right {
	width: 100%;

	#gform_wrapper_2 {
		margin-top: 20px;
	}

	#gform_submit_button_2 {
		float: right;
		font-size: 15px;
	}
}

/*----------------------------------------------------------------------------------*/
/*  Blog
/*----------------------------------------------------------------------------------*/

.addthis_toolbox {
	margin: 20px 0 10px 0;

	.addthis_button_facebook_like {
		margin-right: 30px;
	}
}

.blog, .archive, .search-results {
	header.entry-header {
		.entry-title {
			margin: 0;
			font-size: 22px;
		}

		.entry-title a {
			text-decoration: none;
		}
	}

	article.post {
		margin-bottom: 30px;
		@include clearfix;

		p {
			font-size: 16px;
			line-height: 22px;
		}
	}

	.featured-image {
		float: left;
		width: 18%;
		margin-right: 4%;
		margin-top: 5px;

		img {
			width: 100%;
		}
	}

	.article-content {
		width: 77%;
		float: left;
	}
}

.paging-navigation {
	margin-bottom: 20px;
	@include clearfix;

	a {
		text-decoration: none;
	}

	.nav-previous {
		float: left;
	}

	.nav-next {
		float: right;
	}
}

/*----------------------------------------------------------------------------------*/
/*  Comments
/*----------------------------------------------------------------------------------*/

.comments-area {

	h2 {
		font-size: 18px;
	}

	.comment-author {
		float: left;
	}

	.avatar {
		margin-right: 10px;
	}

	.comment-meta {
		@include clearfix;
	}

	.fn, .says {
		top: -7px;
		position: relative;
	}

	.comment-metadata {
		float: right;
		margin-top: 10px;
		font-size: 12px;
	}

	.comment-content {
		margin-top: 10px;
	}

	.comment-list {
		list-style-type: none;
		padding: 0;

		article {
			background: #e5e5ea;
			padding: 15px 12px;
			margin-bottom: 20px;
			border-radius: 3px;
			border: 0;
			box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    -webkit-box-sizing: border-box;	
		    @include clearfix;			
		}

		.reply {
			float: right;
		}

		.children {
			list-style-type: none;

			article {
				background: darken(#e5e5ea, 5%);
			}
		}
	}

	label {
		display: block;
		margin-bottom: 10px;
		font-weight: bold;
	}

	input, textarea {
		font-size: 16px;
		padding: 15px 12px;
		border-radius: 3px;
		border: 0;
		box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;		
	}

	input[type="text"] {
		width: 50%;
	}

	input[type="submit"] {
		padding: 8px 30px;
	}

	textarea {
		width: 75%;
	}
}

/*----------------------------------------------------------------------------------*/
/*  Search
/*----------------------------------------------------------------------------------*/

#searchsubmit {
	display: none;
}

.widget_search input[type="search"] {
	font-size: 16px;
	padding: 15px 12px;
	border-radius: 3px;
	border: 0;
	width: 66%;
	margin: 20px;
		box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;	
}

.widget_search input[type="submit"] {
	text-indent: -99999px;
	padding: 16px 22px;
	width: 30px;
	height: 50px;
	background: url(../img/arrow-white.png) no-repeat center, #e75d1e;
	background: url(../img/arrow-white.png) no-repeat center, -moz-linear-gradient(top,  #e75d1e 0%, #da3e14 100%);
	background: url(../img/arrow-white.png) no-repeat center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e75d1e), color-stop(100%,#da3e14));
	background: url(../img/arrow-white.png) no-repeat center, -webkit-linear-gradient(top,  #e75d1e 0%,#da3e14 100%);
	background: url(../img/arrow-white.png) no-repeat center, -o-linear-gradient(top,  #e75d1e 0%,#da3e14 100%);
	background: url(../img/arrow-white.png) no-repeat center, -ms-linear-gradient(top,  #e75d1e 0%,#da3e14 100%);
	background: url(../img/arrow-white.png) no-repeat center, linear-gradient(to bottom,  #e75d1e 0%,#da3e14 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e75d1e', endColorstr='#da3e14',GradientType=0 );
}

/*----------------------------------------------------------------------------------*/
/*  Footer
/*----------------------------------------------------------------------------------*/


.footer-links-inner {

	p {
		clear: both;
	}

	.footer-title {
		font-size: 14px;
		text-transform: uppercase;
		color: #6b6d75;
		font-weight: 700;
		margin-bottom: 10px;
	}

	ul {
		margin: 0 0 30px 0;
		padding: 0;
	}

	li {
		list-style-type: none;
		padding: 0;
		margin: 0 0 3px 0;
	}

	a {
		text-decoration: none;
	}

}

.site-footer {
}

.site-info {
	a {
		display: inline-block;
		color: $base-color;
		text-decoration: none;
	}
}

/*----------------------------------------------------------------------------------*/
/*  Home
/*----------------------------------------------------------------------------------*/

body.home {
	background: url(../img/bg-home.png) no-repeat top center;
	background-size: 100%;

	.site-top {
		background: $white;
	}


	.site-title {
		a {
			background: url(../img/logo-white.png) no-repeat;
		}
	}

	.top-navigation a {
		color: $white;

		span {
			color: $white;
		}
	}

	.main-navigation a {
		color: $white;
	}

	ul.social a {
		background: url(../img/social-white.png) no-repeat;

		&:hover {
			opacity: 0.7;
		}

		&.facebook {
			background-position: 0 0;
		}

		&.linkedin {
			background-position: -23px 0;
		}

		&.twitter {
			background-position: -46px 0;
		}

		&.youtube {
			background-position: -69px 0;
		}		
	}

	.secondary-content a.your-needs {
		background: url(../img/arrow-orange.png) no-repeat 94% 81%, rgba(244, 244, 244, .90);

		&:hover {
			background: url(../img/arrow-orange.png) no-repeat 94% 81%, rgba(234, 234, 234, 1);
		}
	}

	.secondary-content a.learn-more {
		background: url(../img/arrow-white.png) no-repeat 89% 81%, rgba(18, 16, 15, .70);
		
		&:hover {
			background: url(../img/arrow-white.png) no-repeat 89% 81%, rgba(18, 16, 15, .90);
		}	
	}

	.secondary-content a.women-wealth {
		background: url(../img/arrow-white.png) no-repeat 89% 81%, -moz-linear-gradient(left,  rgba(231,93,30,0.9) 0%, rgba(218,62,20,0.9) 100%);
		background: url(../img/arrow-white.png) no-repeat 89% 81%, -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(231,93,30,0.9)), color-stop(100%,rgba(218,62,20,0.9)));
		background: url(../img/arrow-white.png) no-repeat 89% 81%, -webkit-linear-gradient(left,  rgba(231,93,30,0.9) 0%,rgba(218,62,20,0.9) 100%);
		background: url(../img/arrow-white.png) no-repeat 89% 81%, -o-linear-gradient(left,  rgba(231,93,30,0.9) 0%,rgba(218,62,20,0.9) 100%);
		background: url(../img/arrow-white.png) no-repeat 89% 81%, -ms-linear-gradient(left,  rgba(231,93,30,0.9) 0%,rgba(218,62,20,0.9) 100%);
		background: url(../img/arrow-white.png) no-repeat 89% 81%, linear-gradient(to right,  rgba(231,93,30,0.9) 0%,rgba(218,62,20,0.9) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e75d1e', endColorstr='#e6da3e14',GradientType=1 );
		@include transition(background 1s);	
		
		&:hover {
			background: url(../img/arrow-white.png) no-repeat 89% 81%, -moz-linear-gradient(left,  rgba(205,69,12,0.9) 0%, rgba(194,51,14,0.9) 100%);
			background: url(../img/arrow-white.png) no-repeat 89% 81%, -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(205,69,12,0.9)), color-stop(100%,rgba(194,51,14,0.9)));
			background: url(../img/arrow-white.png) no-repeat 89% 81%, -webkit-linear-gradient(left,  rgba(205,69,12,0.9) 0%,rgba(194,51,14,0.9) 100%);
			background: url(../img/arrow-white.png) no-repeat 89% 81%, -o-linear-gradient(left,  rgba(205,69,12,0.9) 0%,rgba(194,51,14,0.9) 100%);
			background: url(../img/arrow-white.png) no-repeat 89% 81%, -ms-linear-gradient(left,  rgba(205,69,12,0.9) 0%,rgba(194,51,14,0.9) 100%);
			background: url(../img/arrow-white.png) no-repeat 89% 81%, linear-gradient(to right,  rgba(205,69,12,0.9) 0%,rgba(194,51,14,0.9) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6cd450c', endColorstr='#e6c2330e',GradientType=1 );
		}	
	}	

	.site-main {
		background: transparent;
	}	

	.site-main #primary {
		width: 100%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		float: none;
	}	

}

.home-quote {
	border-radius: 7px;	
	width: 100%;
	font-size: 25px;
	line-height: 28px;
	font-weight: 100;
	color: $white;
	margin-top: 20px;
	margin-bottom: 20px;	
	padding: 30px 30px 10px 30px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;		
	background: -moz-linear-gradient(left,  rgba(231,93,30,0.9) 0%, rgba(218,62,20,0.9) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(231,93,30,0.9)), color-stop(100%,rgba(218,62,20,0.9)));
	background: -webkit-linear-gradient(left,  rgba(231,93,30,0.9) 0%,rgba(218,62,20,0.9) 100%);
	background: -o-linear-gradient(left,  rgba(231,93,30,0.9) 0%,rgba(218,62,20,0.9) 100%);
	background: -ms-linear-gradient(left,  rgba(231,93,30,0.9) 0%,rgba(218,62,20,0.9) 100%);
	background: linear-gradient(to right,  rgba(231,93,30,0.9) 0%,rgba(218,62,20,0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e75d1e', endColorstr='#e6da3e14',GradientType=1 );
}

a.getting-started {
	position: relative;
	color: $white;
	text-decoration: none;		
	display: block;
	border-radius: 7px;
	float: none;
	margin-bottom: 20px;
	width: 100%;
	min-height: 205px;	
	padding: 30px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: url(../img/arrow-white.png) no-repeat 94% 81%, rgb(167,167,172);
	background: url(../img/arrow-white.png) no-repeat 94% 81%, -moz-linear-gradient(top,  rgba(167,167,172,0.9) 0%, rgba(120,121,132,0.9) 100%);
	background: url(../img/arrow-white.png) no-repeat 94% 81%, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,167,172,0.9)), color-stop(100%,rgba(120,121,132,0.9)));
	background: url(../img/arrow-white.png) no-repeat 94% 81%, -webkit-linear-gradient(top,  rgba(167,167,172,0.9) 0%,rgba(120,121,132,0.9) 100%);
	background: url(../img/arrow-white.png) no-repeat 94% 81%, -o-linear-gradient(top,  rgba(167,167,172,0.9) 0%,rgba(120,121,132,0.9) 100%);
	background: url(../img/arrow-white.png) no-repeat 94% 81%, -ms-linear-gradient(top,  rgba(167,167,172,0.9) 0%,rgba(120,121,132,0.9) 100%);
	background: url(../img/arrow-white.png) no-repeat 94% 81%, linear-gradient(to bottom,  rgba(167,167,172,0.9) 0%,rgba(120,121,132,0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7a7ac', endColorstr='#787984',GradientType=0 );

	h1 {
		color: $white;
		font-weight: 600;
		position: absolute;
		bottom: 10px;

		span {
			font-size: 28px;
		    line-height: 35px;
		    font-weight: 100;				
			margin: 0;
		}
	}

	&:hover .gradient-hover {
		opacity: 1;
	}

	.gradient-hover {
		@include transition(opacity 1s);
	   	border-radius: 7px;
		width: 100%;
		height: 100%;		   	
		display: block;
		position: absolute;
		left: 0;
		top: 0;
	    opacity: 0;
		background: url(../img/arrow-white.png) no-repeat 94% 81%, rgb(140,139,142);
		background: url(../img/arrow-white.png) no-repeat 94% 81%, -moz-linear-gradient(top,  rgba(140,139,142,1) 0%, rgba(105,104,114,1) 100%);
		background: url(../img/arrow-white.png) no-repeat 94% 81%, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(140,139,142,1)), color-stop(100%,rgba(105,104,114,1)));
		background: url(../img/arrow-white.png) no-repeat 94% 81%, -webkit-linear-gradient(top,  rgba(140,139,142,1) 0%,rgba(105,104,114,1) 100%);
		background: url(../img/arrow-white.png) no-repeat 94% 81%, -o-linear-gradient(top,  rgba(140,139,142,1) 0%,rgba(105,104,114,1) 100%);
		background: url(../img/arrow-white.png) no-repeat 94% 81%, -ms-linear-gradient(top,  rgba(140,139,142,1) 0%,rgba(105,104,114,1) 100%);
		background: url(../img/arrow-white.png) no-repeat 94% 81%, linear-gradient(to bottom,  rgba(140,139,142,1) 0%,rgba(105,104,114,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8b8e', endColorstr='#696872',GradientType=0 );	    
	}	

	&:hover {
		color: $white;
	}
}

.jon-photo {
	float: none;
	position: relative;
	border-radius: 7px;
	margin-bottom: 20px;
	padding: 30px 30px 0 30px;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;		
	background: rgb(167,167,172);
	background: -moz-linear-gradient(top,  rgba(167,167,172,0.9) 0%, rgba(120,121,132,0.9) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,167,172,0.9)), color-stop(100%,rgba(120,121,132,0.9)));
	background: -webkit-linear-gradient(top,  rgba(167,167,172,0.9) 0%,rgba(120,121,132,0.9) 100%);
	background: -o-linear-gradient(top,  rgba(167,167,172,0.9) 0%,rgba(120,121,132,0.9) 100%);
	background: -ms-linear-gradient(top,  rgba(167,167,172,0.9) 0%,rgba(120,121,132,0.9) 100%);
	background: linear-gradient(to bottom,  rgba(167,167,172,0.9) 0%,rgba(120,121,132,0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7a7ac', endColorstr='#787984',GradientType=0 );

	img {
		width: 100%;
		margin: auto;
		display: block;
	}

	a.jon-content {
		border-radius: 0 0 7px 7px;
		width: 100%;
		left: 0;
		position: absolute;
		bottom: 0;
		background: url(../img/arrow-orange.png) no-repeat 94% 50%, rgba(255, 255, 255, .90);
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		padding: 10px 30px 0 30px;
		text-decoration: none;
		@include transition(background 1s);

		&:hover {
			background: url(../img/arrow-orange.png) no-repeat 94% 50%, rgba(255, 255, 255, 1);
		}

		h1 {
			font-size: 20px;
			font-weight: 200;
			line-height: 22px;
			margin: 0;			
		}

		p {
			font-size: 12px;
		}
	}
}

.home-right-boxes {
	float: none;
	width: 100%;

	a.financial-planning {
		float: left;
		position: relative;
		color: $white;
		border-radius: 7px;		
		text-decoration: none;		
		display: block;
		width: 47.5%;
		min-height: 230px;		
		min-height: 170px;
		padding: 15px;
		margin-bottom: 20px;		
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		background: url(../img/arrow-white.png) no-repeat 89% 15%, rgb(167,167,172);
		background: url(../img/arrow-white.png) no-repeat 89% 15%, -moz-linear-gradient(top,  rgba(167,167,172,0.9) 0%, rgba(120,121,132,0.9) 100%);
		background: url(../img/arrow-white.png) no-repeat 89% 15%, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,167,172,0.9)), color-stop(100%,rgba(120,121,132,0.9)));
		background: url(../img/arrow-white.png) no-repeat 89% 15%, -webkit-linear-gradient(top,  rgba(167,167,172,0.9) 0%,rgba(120,121,132,0.9) 100%);
		background: url(../img/arrow-white.png) no-repeat 89% 15%, -o-linear-gradient(top,  rgba(167,167,172,0.9) 0%,rgba(120,121,132,0.9) 100%);
		background: url(../img/arrow-white.png) no-repeat 89% 15%, -ms-linear-gradient(top,  rgba(167,167,172,0.9) 0%,rgba(120,121,132,0.9) 100%);
		background: url(../img/arrow-white.png) no-repeat 89% 15%, linear-gradient(to bottom,  rgba(167,167,172,0.9) 0%,rgba(120,121,132,0.9) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7a7ac', endColorstr='#787984',GradientType=0 );

		&:hover .gradient-hover {
			opacity: 1;
		}

		.gradient-hover {
			@include transition(opacity 1s);
		   	border-radius: 7px;
			width: 100%;
			height: 100%;		   	
			display: block;
			position: absolute;
			left: 0;
			top: 0;
		    opacity: 0;
			background: url(../img/arrow-white.png) no-repeat 89% 15%, rgb(140,139,142);
			background: url(../img/arrow-white.png) no-repeat 89% 15%, -moz-linear-gradient(top,  rgba(140,139,142,1) 0%, rgba(105,104,114,1) 100%);
			background: url(../img/arrow-white.png) no-repeat 89% 15%, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(140,139,142,1)), color-stop(100%,rgba(105,104,114,1)));
			background: url(../img/arrow-white.png) no-repeat 89% 15%, -webkit-linear-gradient(top,  rgba(140,139,142,1) 0%,rgba(105,104,114,1) 100%);
			background: url(../img/arrow-white.png) no-repeat 89% 15%, -o-linear-gradient(top,  rgba(140,139,142,1) 0%,rgba(105,104,114,1) 100%);
			background: url(../img/arrow-white.png) no-repeat 89% 15%, -ms-linear-gradient(top,  rgba(140,139,142,1) 0%,rgba(105,104,114,1) 100%);
			background: url(../img/arrow-white.png) no-repeat 89% 15%, linear-gradient(to bottom,  rgba(140,139,142,1) 0%,rgba(105,104,114,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8b8e', endColorstr='#696872',GradientType=0 );		    
		}

		h1 {
			color: $white;
			font-weight: 600;
			font-size: 22px;
			line-height: 23px;
			position: absolute;
			bottom: 10px;

			span {
				font-size: 28px;
			    line-height: 35px;
			    font-weight: 100;				
				margin: 0;
			}
		}

		h1, h2 {
			color: $white;
			font-weight: 100;
			font-size: 20px;
		}

		&:hover {
			color: $white;
		}	
	}

	a.wealth-management {
		float: left;
		display: block;
		position: relative;
		text-decoration: none;
		width: 47.5%;
		min-height: 170px;		
		font-size: 25px;
		line-height: 28px;
		font-weight: 100;
		color: $white;
		margin-left: 5%;
		margin-bottom: 20px;
		padding: 15px 15px 10px 15px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;	
		border-radius: 7px;		
		background: url(../img/arrow-white.png) no-repeat 89% 15%, -moz-linear-gradient(left,  rgba(230,89,27,0.9) 0%, rgba(216,56,17,0.9) 100%);
		background: url(../img/arrow-white.png) no-repeat 89% 15%, -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(230,89,27,0.9)), color-stop(100%,rgba(216,56,17,0.9)));
		background: url(../img/arrow-white.png) no-repeat 89% 15%, -webkit-linear-gradient(left,  rgba(230,89,27,0.9) 0%,rgba(216,56,17,0.9) 100%);
		background: url(../img/arrow-white.png) no-repeat 89% 15%, -o-linear-gradient(left,  rgba(230,89,27,0.9) 0%,rgba(216,56,17,0.9) 100%);
		background: url(../img/arrow-white.png) no-repeat 89% 15%, -ms-linear-gradient(left,  rgba(230,89,27,0.9) 0%,rgba(216,56,17,0.9) 100%);
		background: url(../img/arrow-white.png) no-repeat 89% 15%, linear-gradient(to right,  rgba(230,89,27,0.9) 0%,rgba(216,56,17,0.9) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e75d1e', endColorstr='#e6da3e14',GradientType=1 );

		&:hover .gradient-hover {
			opacity: 1;
		}

		.gradient-hover {
			@include transition(opacity 1s);
		   	border-radius: 7px;
			width: 100%;
			height: 100%;		   	
			display: block;
			position: absolute;
			left: 0;
			top: 0;
		    opacity: 0;
			background: url(../img/arrow-white.png) no-repeat 89% 15%, -moz-linear-gradient(left,  rgba(231,93,30,1) 0%, rgba(218,62,20,1) 100%);
			background: url(../img/arrow-white.png) no-repeat 89% 15%, -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(231,93,30,1)), color-stop(100%,rgba(218,62,20,1)));
			background: url(../img/arrow-white.png) no-repeat 89% 15%, -webkit-linear-gradient(left,  rgba(231,93,30,1) 0%,rgba(218,62,20,1) 100%);
			background: url(../img/arrow-white.png) no-repeat 89% 15%, -o-linear-gradient(left,  rgba(231,93,30,1) 0%,rgba(218,62,20,1) 100%);
			background: url(../img/arrow-white.png) no-repeat 89% 15%, -ms-linear-gradient(left,  rgba(231,93,30,1) 0%,rgba(218,62,20,1) 100%);
			background: url(../img/arrow-white.png) no-repeat 89% 15%, linear-gradient(to right,  rgba(231,93,30,1) 0%,rgba(218,62,20,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e75d1e', endColorstr='#e6da3e14',GradientType=1 );		    
		}

		h1 {
			color: $white;
			font-weight: 600;
			font-size: 22px;
			line-height: 23px;	
			position: absolute;
			bottom: 10px;

			span {
				font-size: 28px;
			    line-height: 35px;
			    font-weight: 100;				
				margin: 0;
			}
		}

		h1, h2 {
			color: $white;
			font-weight: 100;
			font-size: 20px;			
		}

		&:hover {		
			color: $white;
		}	
	}

	.newsletter {
		font-size: 16px;
		color: $white;
		text-decoration: none;		
		display: block;
		width: 100%;
		float: left;
		padding: 30px;
		border-radius: 7px;		
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;		
		background: rgba(18, 16, 15, .70);

		h1, h2 {
			color: $white;
			font-weight: 100;
			display: none;
		}

		span {
			font-weight: 600;
		}

		p {
			color: #c1c3ca;
			font-size: 22px;
			margin-bottom: 32px;
			line-height: 26px;
		}		
	}

}

body .newsletter .gform_wrapper {
	ul li.gfield {
		float: left;
		clear: none;
		margin-bottom: 10px;
		width: 100%;

		&:first-child {
			margin-left: 0 !important;
		}
	}

	input[type=text],
	input[type=url],
	input[type=email],
	input[type=tel],
	input[type=number],
	input[type=password],
	textarea.medium,
	.top_label select.medium,
	.top_label input.medium {
		width: 100%;		
	}

	.gform_footer {
		padding: 0;
		margin: 0;
		clear: none;
		float: left;
		width: 100%;
	}	

	input.button, body .gform_wrapper .gform_footer input[type=submit] {
		text-indent: -99999px;
		padding: 16px 22px;
		width: 100%;
		height: 50px;
		background: url(../img/arrow-white.png) no-repeat center, #e75d1e;
		background: url(../img/arrow-white.png) no-repeat center, -moz-linear-gradient(top,  #e75d1e 0%, #da3e14 100%);
		background: url(../img/arrow-white.png) no-repeat center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e75d1e), color-stop(100%,#da3e14));
		background: url(../img/arrow-white.png) no-repeat center, -webkit-linear-gradient(top,  #e75d1e 0%,#da3e14 100%);
		background: url(../img/arrow-white.png) no-repeat center, -o-linear-gradient(top,  #e75d1e 0%,#da3e14 100%);
		background: url(../img/arrow-white.png) no-repeat center, -ms-linear-gradient(top,  #e75d1e 0%,#da3e14 100%);
		background: url(../img/arrow-white.png) no-repeat center, linear-gradient(to bottom,  #e75d1e 0%,#da3e14 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e75d1e', endColorstr='#da3e14',GradientType=0 );		
	}	
}

body .gform_wrapper {
	max-width: 100%;
	margin: 0;
	overflow: hidden;

	label,
	.validation_error,
	.validation_message {
	  position: absolute; 
	  overflow: hidden; 
	  clip: rect(0 0 0 0); 
	  height: 1px; 
	  width: 1px; 
	  margin: -1px; 
	  padding: 0; 
	  border: 0;
	}

	input[type=text],
	input[type=url],
	input[type=email],
	input[type=tel],
	input[type=number],
	input[type=password],
	textarea.medium,
	.top_label select.medium,
	.top_label input.medium {
		font-size: em-font(16px);
		padding: em-font(10px);
		border-radius: 3px;
		border: 0;
		width: 100%;
  		box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;		
	}

	.top_label input.large, 
	.top_label select.large, 
	.top_label textarea.textarea {
		width: 100%;
	  	box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;		
	}	

	.gform_footer {

		input.button,
		input[type=submit] {
			font-size: em-font(12px);
			font-weight: normal;
			border: 0;
		}
	}

		li.gfield.gfield_error.gfield_contains_required label.gfield_label,
		li.gfield.gfield_error.gfield_contains_required div.ginput_container {
			margin-bottom: 1em;
		}

		label,
		.validation_error,
		.validation_message {
		  position: absolute; 
		  overflow: hidden; 
		  clip: rect(0 0 0 0); 
		  height: 1px; 
		  width: 1px; 
		  margin: -1px; 
		  padding: 0; 
		  border: 0;
		}		

		li.gfield.gfield_error.gfield_contains_required {
			margin: 0 !important;
			padding: 0 !important;
		}

		li.gfield.gfield_error,
		li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
			background-color: transparent;
			margin-bottom: 0 !important;
			padding: 0 !important;
			border: 0;
		}

		.top_label .gfield_error {
			width: 100%;
		}		

		li.gfield_error input[type=text], 
		li.gfield_error input[type=url],
		li.gfield_error input[type=email],
		li.gfield_error input[type=tel],
		li.gfield_error input[type=number],
		li.gfield_error input[type=password], 
		li.gfield_error textarea {
			border: 0;
			background: $pink;
			color: darken($pink, 30%);
		}

		.top_label .gfield_error .ginput_container {
			max-width: 100%;
		}	
}

/*----------------------------------------------------------------------------------*/
/*  Footer
/*----------------------------------------------------------------------------------*/

.site-info {
	float: left;
	margin: 24px 0;
	padding: 0;	
}

.secondary-content {
	padding: 0 20px;

	.three-boxes {
		margin-bottom: 20px;	
	}

	.three-boxes, .news-boxes {
		@include clearfix;
		min-height: 230px;
	}

	.news-boxes {

		h1 {
			margin-top: 0;	
			font-size: 23px;		
		}

		h2 {
			font-size: 15px;
			font-weight: 600;
			margin-top: -20px;
			margin-bottom: 0;
			line-height: 19px;

			span {
				font-weight: 100;
			}
		}

		h1, h2 {
			color: $white;
		}

		p {
			font-size: 14px;
			line-height: 18px;
			font-weight: 200;
			width: 88%;
		}	
	}

	a {
		position: relative;
		float: none;
		border-radius: 7px;		
		@include transition(background 1s);
	}

	a.your-needs {
		text-decoration: none;
		display: block;
		width: 100%;
		min-height: 230px;
		margin-bottom: 20px;	
		padding: 30px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;		
		background: url(../img/arrow-orange.png) no-repeat 94% 81%, #efeff2;
		background: url(../img/arrow-orange.png) no-repeat 94% 81%, -moz-linear-gradient(top,  #efeff2 0%, #e5e5ea 100%);
		background: url(../img/arrow-orange.png) no-repeat 94% 81%, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efeff2), color-stop(100%,#e5e5ea));
		background: url(../img/arrow-orange.png) no-repeat 94% 81%, -webkit-linear-gradient(top,  #efeff2 0%,#e5e5ea 100%);
		background: url(../img/arrow-orange.png) no-repeat 94% 81%, -o-linear-gradient(top,  #efeff2 0%,#e5e5ea 100%);
		background: url(../img/arrow-orange.png) no-repeat 94% 81%, -ms-linear-gradient(top,  #efeff2 0%,#e5e5ea 100%);
		background: url(../img/arrow-orange.png) no-repeat 94% 81%, linear-gradient(to bottom,  #efeff2 0%,#e5e5ea 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efeff2', endColorstr='#e5e5ea',GradientType=0 );

		h1 {
			color: $orange;
			font-weight: 600;
			position: absolute;
			bottom: 10px;			

			span {
				font-size: 28px;
			    line-height: 35px;
			    font-weight: 100;				
				color: #6b6d75;
				margin: 0;
			}
		}

		&:hover {
			color: $white;
		}

		&:hover .gradient-hover {
			opacity: 1;
		}

		.gradient-hover {
			@include transition(opacity 1s);
		   	border-radius: 7px;
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
		    opacity: 0;
			background: url(../img/arrow-orange.png) no-repeat 94% 81%, #dedee3;
			background: url(../img/arrow-orange.png) no-repeat 94% 81%, -moz-linear-gradient(top,  #dedee3 0%, #d4d4d9 100%);
			background: url(../img/arrow-orange.png) no-repeat 94% 81%, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dedee3), color-stop(100%,#d4d4d9));
			background: url(../img/arrow-orange.png) no-repeat 94% 81%, -webkit-linear-gradient(top,  #dedee3 0%,#d4d4d9 100%);
			background: url(../img/arrow-orange.png) no-repeat 94% 81%, -o-linear-gradient(top,  #dedee3 0%,#d4d4d9 100%);
			background: url(../img/arrow-orange.png) no-repeat 94% 81%, -ms-linear-gradient(top,  #dedee3 0%,#d4d4d9 100%);
			background: url(../img/arrow-orange.png) no-repeat 94% 81%, linear-gradient(to bottom,  #dedee3 0%,#d4d4d9 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedee3', endColorstr='#d4d4d9',GradientType=0 );	    
		}
	}

	a.learn-more {
		color: $white;
		text-decoration: none;		
		display: block;
		width: 100%;
		min-height: 230px;
		margin-bottom: 20px;	
		padding: 30px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;		
		background: url(../img/arrow-white.png) no-repeat 89% 81%, #7f818b;
		background: url(../img/arrow-white.png) no-repeat 89% 81%, -moz-linear-gradient(left,  #7f818b 0%, #53545b 100%);
		background: url(../img/arrow-white.png) no-repeat 89% 81%, -webkit-gradient(linear, left top, right top, color-stop(0%,#7f818b), color-stop(100%,#53545b));
		background: url(../img/arrow-white.png) no-repeat 89% 81%, -webkit-linear-gradient(left,  #7f818b 0%,#53545b 100%);
		background: url(../img/arrow-white.png) no-repeat 89% 81%, -o-linear-gradient(left,  #7f818b 0%,#53545b 100%);
		background: url(../img/arrow-white.png) no-repeat 89% 81%, -ms-linear-gradient(left,  #7f818b 0%,#53545b 100%);
		background: url(../img/arrow-white.png) no-repeat 89% 81%, linear-gradient(to right,  #7f818b 0%,#53545b 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f818b', endColorstr='#53545b',GradientType=1 );

		h1 {
			position: absolute;
			bottom: 10px;	
			font-size: 28px;			
		}

		h1, h2 {
			color: $white;
			font-weight: 100;
		}

		&:hover {
			color: $white;
		}

		&:hover .gradient-hover {
			opacity: 1;
		}

		.gradient-hover {
			@include transition(opacity 1s);
		   	border-radius: 7px;
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
		    opacity: 0;
			background: url(../img/arrow-white.png) no-repeat 89% 81%, #6c6f7b;
			background: url(../img/arrow-white.png) no-repeat 89% 81%, -moz-linear-gradient(left,  #6c6f7b 0%, #42434a 100%);
			background: url(../img/arrow-white.png) no-repeat 89% 81%, -webkit-gradient(linear, left top, right top, color-stop(0%,#6c6f7b), color-stop(100%,#42434a));
			background: url(../img/arrow-white.png) no-repeat 89% 81%, -webkit-linear-gradient(left,  #6c6f7b 0%,#42434a 100%);
			background: url(../img/arrow-white.png) no-repeat 89% 81%, -o-linear-gradient(left,  #6c6f7b 0%,#42434a 100%);
			background: url(../img/arrow-white.png) no-repeat 89% 81%, -ms-linear-gradient(left,  #6c6f7b 0%,#42434a 100%);
			background: url(../img/arrow-white.png) no-repeat 89% 81%, linear-gradient(to right,  #6c6f7b 0%,#42434a 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c6f7b', endColorstr='#42434a',GradientType=1 );	    
		}			
	}

	a.women-wealth {
		color: $white;
		text-decoration: none;		
		display: block;
		width: 100%;
		min-height: 230px;		
		padding: 30px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;		
		background: url(../img/arrow-white.png) no-repeat 89% 81%, #e75d1e;
		background: url(../img/arrow-white.png) no-repeat 89% 81%, -moz-linear-gradient(left,  #e75d1e 0%, #da3e14 100%);
		background: url(../img/arrow-white.png) no-repeat 89% 81%, -webkit-gradient(linear, left top, right top, color-stop(0%,#e75d1e), color-stop(100%,#da3e14));
		background: url(../img/arrow-white.png) no-repeat 89% 81%, -webkit-linear-gradient(left,  #e75d1e 0%,#da3e14 100%);
		background: url(../img/arrow-white.png) no-repeat 89% 81%, -o-linear-gradient(left,  #e75d1e 0%,#da3e14 100%);
		background: url(../img/arrow-white.png) no-repeat 89% 81%, -ms-linear-gradient(left,  #e75d1e 0%,#da3e14 100%);
		background: url(../img/arrow-white.png) no-repeat 89% 81%, linear-gradient(to right,  #e75d1e 0%,#da3e14 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e75d1e', endColorstr='#da3e14',GradientType=1 );

		h1 {
			position: absolute;
			bottom: 10px;	
			font-size: 28px;			
		}

		h1, h2 {
			color: $white;
			font-weight: 100;		
		}

		&:hover .gradient-hover {
			opacity: 1;
		}

		.gradient-hover {
			@include transition(opacity 1s);
		   	border-radius: 7px;
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
		    opacity: 0;
			background: url(../img/arrow-white.png) no-repeat 89% 81%, #cd450c;
			background: url(../img/arrow-white.png) no-repeat 89% 81%, -moz-linear-gradient(left,  #cd450c 0%, #c2330e 100%);
			background: url(../img/arrow-white.png) no-repeat 89% 81%, -webkit-gradient(linear, left top, right top, color-stop(0%,#cd450c), color-stop(100%,#c2330e));
			background: url(../img/arrow-white.png) no-repeat 89% 81%, -webkit-linear-gradient(left,  #cd450c 0%,#c2330e 100%);
			background: url(../img/arrow-white.png) no-repeat 89% 81%, -o-linear-gradient(left,  #cd450c 0%,#c2330e 100%);
			background: url(../img/arrow-white.png) no-repeat 89% 81%, -ms-linear-gradient(left,  #cd450c 0%,#c2330e 100%);
			background: url(../img/arrow-white.png) no-repeat 89% 81%, linear-gradient(to right,  #cd450c 0%,#c2330e 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd450c', endColorstr='#c2330e',GradientType=1 );	    
		}		

		&:hover {
			color: $white;
		}		
	}

	a.news-room {
		color: $white;
		text-decoration: none;		
		display: block;
		width: 100%;
		min-height: 230px;	
		margin-bottom: 20px;	
		padding: 30px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;		
		background: url(../img/arrow-white.png) no-repeat 92% 15%, -moz-linear-gradient(left,  rgba(230,89,27,0.9) 0%, rgba(216,56,17,0.9) 100%);
		background: url(../img/arrow-white.png) no-repeat 92% 15%, -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(230,89,27,0.9)), color-stop(100%,rgba(216,56,17,0.9)));
		background: url(../img/arrow-white.png) no-repeat 92% 15%, -webkit-linear-gradient(left,  rgba(230,89,27,0.9) 0%,rgba(216,56,17,0.9) 100%);
		background: url(../img/arrow-white.png) no-repeat 92% 15%, -o-linear-gradient(left,  rgba(230,89,27,0.9) 0%,rgba(216,56,17,0.9) 100%);
		background: url(../img/arrow-white.png) no-repeat 92% 15%, -ms-linear-gradient(left,  rgba(230,89,27,0.9) 0%,rgba(216,56,17,0.9) 100%);
		background: url(../img/arrow-white.png) no-repeat 92% 15%, linear-gradient(to right,  rgba(230,89,27,0.9) 0%,rgba(216,56,17,0.9) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e75d1e', endColorstr='#e6da3e14',GradientType=1 );		

		
		&:hover .gradient-hover {
			opacity: 1;
		}

		.news-content {
			position: absolute;
		}

		.gradient-hover {
			@include transition(opacity 1s);
		   	border-radius: 7px;
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
		    opacity: 0;
			background: url(../img/arrow-white.png) no-repeat 92% 15%, #cd450c;
			background: url(../img/arrow-white.png) no-repeat 92% 15%, -moz-linear-gradient(left,  #cd450c 0%, #c2330e 100%);
			background: url(../img/arrow-white.png) no-repeat 92% 15%, -webkit-gradient(linear, left top, right top, color-stop(0%,#cd450c), color-stop(100%,#c2330e));
			background: url(../img/arrow-white.png) no-repeat 92% 15%, -webkit-linear-gradient(left,  #cd450c 0%,#c2330e 100%);
			background: url(../img/arrow-white.png) no-repeat 92% 15%, -o-linear-gradient(left,  #cd450c 0%,#c2330e 100%);
			background: url(../img/arrow-white.png) no-repeat 92% 15%, -ms-linear-gradient(left,  #cd450c 0%,#c2330e 100%);
			background: url(../img/arrow-white.png) no-repeat 92% 15%, linear-gradient(to right,  #cd450c 0%,#c2330e 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd450c', endColorstr='#c2330e',GradientType=1 );	    
		}

		&:hover {
			color: $white;
		}	
	}	

	a.money-sense {
		position: relative;
		color: $white;
		text-decoration: none;		
		display: block;
		width: 100%;
		min-height: 230px;
		margin-bottom: 20px;
		padding: 30px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;	
		background: url(../img/arrow-white.png) no-repeat 95% 15%, rgb(167,167,172);
		background: url(../img/arrow-white.png) no-repeat 95% 15%, -moz-linear-gradient(top,  rgba(167,167,172,0.9) 0%, rgba(120,121,132,0.9) 100%);
		background: url(../img/arrow-white.png) no-repeat 95% 15%, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,167,172,0.9)), color-stop(100%,rgba(120,121,132,0.9)));
		background: url(../img/arrow-white.png) no-repeat 95% 15%, -webkit-linear-gradient(top,  rgba(167,167,172,0.9) 0%,rgba(120,121,132,0.9) 100%);
		background: url(../img/arrow-white.png) no-repeat 95% 15%, -o-linear-gradient(top,  rgba(167,167,172,0.9) 0%,rgba(120,121,132,0.9) 100%);
		background: url(../img/arrow-white.png) no-repeat 95% 15%, -ms-linear-gradient(top,  rgba(167,167,172,0.9) 0%,rgba(120,121,132,0.9) 100%);
		background: url(../img/arrow-white.png) no-repeat 95% 15%, linear-gradient(to bottom,  rgba(167,167,172,0.9) 0%,rgba(120,121,132,0.9) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7a7ac', endColorstr='#787984',GradientType=0 );					
		
		&:hover .gradient-hover {
			opacity: 1;
		}

		.news-content {
			position: absolute;
		}		

		.gradient-hover {
			@include transition(opacity 1s);
		   	border-radius: 7px;
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
		    opacity: 0;
			background: url(../img/arrow-white.png) no-repeat 95% 15%, rgb(140,139,142);
			background: url(../img/arrow-white.png) no-repeat 95% 15%, -moz-linear-gradient(top,  rgba(140,139,142,1) 0%, rgba(105,104,114,1) 100%);
			background: url(../img/arrow-white.png) no-repeat 95% 15%, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(140,139,142,1)), color-stop(100%,rgba(105,104,114,1)));
			background: url(../img/arrow-white.png) no-repeat 95% 15%, -webkit-linear-gradient(top,  rgba(140,139,142,1) 0%,rgba(105,104,114,1) 100%);
			background: url(../img/arrow-white.png) no-repeat 95% 15%, -o-linear-gradient(top,  rgba(140,139,142,1) 0%,rgba(105,104,114,1) 100%);
			background: url(../img/arrow-white.png) no-repeat 95% 15%, -ms-linear-gradient(top,  rgba(140,139,142,1) 0%,rgba(105,104,114,1) 100%);
			background: url(../img/arrow-white.png) no-repeat 95% 15%, linear-gradient(to bottom,  rgba(140,139,142,1) 0%,rgba(105,104,114,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8b8e', endColorstr='#696872',GradientType=0 );	    
		}

		&:hover {
			color: $white;
		}			
	}		

}

/*----------------------------------------------------------------------------------*/
/*  Footer Links
/*----------------------------------------------------------------------------------*/

.footer-links {
	padding: 40px 0 30px 0;
	background: $lt-grey;

	p {
		font-size: 12px;
		color: #9899a3;
	}
}

/*----------------------------------------------------------------------------------*/
/*  Footer
/*----------------------------------------------------------------------------------*/

.site-footer {
	background: #6b6d75;
	padding: 30px 0 0 0;
	text-align: center;

	ul.social {
		margin: 20px 0 10px 0;
		float: none;
		display: inline-block;		

		li {
			float: left;
		}

		a {
			background: url(../img/social-white.png) no-repeat;

			&:hover {
				opacity: 0.7;
			}

			&.facebook {
				background-position: 0 0;
			}

			&.linkedin {
				background-position: -23px 0;
			}

			&.twitter {
				background-position: -46px 0;
			}

			&.youtube {
				background-position: -69px 0;
			}			
		}
	}
}

.site-footer-inner {
	padding: 0 20px;
}

.footer-links-inner {
	padding: 0 20px;
}

.footer-navigation {

	ul {
		margin: 0;
		padding: 0;
		@include clearfix();
		display: inline-block;
	}

	li {
		display: inline-block;
		float: left;
		font-size: 12px;
		margin: 0 0 0 10px;
		list-style-type: none;

		&:first-child {
			margin-left: 0;
		}
	}

	a {
		display: inline-block;
		color: $white;
		text-decoration: none;
	}
}

.copyright {
	clear: both;
	float: none;
	color: #c8cad4;

	a {
		color: #c8cad4;
		text-decoration: none;

		&:hover {
			color: $white;
		}
	}
}

.affiliates-logos {
	@include clearfix;
	margin-top: 10px;
	background: $white;
	padding: 0 20px;
	text-align: center;

	ul {
		margin: 0;
		padding: 20px 0;
		display: inline-block;
		width: 100%;
	}

	li {
		list-style-type: none;
		float: left;
		margin-bottom: 0;
		width: 25%;

		img {
			width: 70%;

			&:hover {
				opacity: 0.7;
			}			
		}

		&:first-child {
			margin-left: 0;
		}
	}
}

/*----------------------------------------------------------------------------------*/
/*  Slideshow - etSlider v4
 *  http://bxslider.com
 *
 *  Written by: Steven Wanderski, 2012
 *  http://stevenwanderski.com
/*----------------------------------------------------------------------------------*/

.slideshow-wrap {
	margin-top: 30px;
}

.slideshow {
	position: relative;
	margin: 0;
	padding: 0;

	li {
		background: url(../img/bg-slide-shadow.jpg) no-repeat bottom center;
		padding: 0 20px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;	
	}

	.slide-content {
		width: 100%;	
		min-height: 340px;
	}

	h1 {
		margin-bottom: 10px;
	}

	h2 {
		color: #6b6d75;
		margin: 0 0 15px 0;
	}

	img {
		display: none;
	}

	p {
		font-size: 16px;
		line-height: 22px;
		color: #6b6d75;	
		margin-bottom: 25px	
	}
}

/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	margin: auto;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport { }

.bx-has-pager {
	text-align: center;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: relative;
	bottom: 26px;
	z-index: 9999999;
	display: inline-block;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(../img/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #a7b1b9;
	text-indent: -9999px;
	display: block;
	width: 50px;
	height: 6px;
	margin: 0 1px;
	outline: 0;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #656e76;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 10px;
	background: url(../img/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
	right: 10px;
	background: url(../img/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(../img/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(../img/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}


/*----------------------------------------------------------------------------------*/
/*  Sitemap
/*----------------------------------------------------------------------------------*/

ul.sitemap {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-weight: bold;

	.children {
		font-weight: normal;
		margin-top: 5px;

		li {
			margin: 0 0 5px 10px;
		}
	}

	li {
		list-style-type: none;
		margin-bottom: 10px;
	}

	ul {
		margin: 0 0 15px 0;
		padding: 0;

		li {
			margin: 0 0 5px 0;
		}
	}

	a {
		text-decoration: none;
	}
}

/*----------------------------------------------------------------------------------*/
/*  IE8 Fixes
/*----------------------------------------------------------------------------------*/

.lt-ie9 {

	.mobile-logo {
		top: 2px;
		width: 213px;
		height: 47px;
	}

	.menu-primary-menu-container li:hover {	
		background: $black;
		margin: 0 0 0 9px;		
	}

	.menu-primary-menu-container li {
		margin: 0 0 0 4px;
	}

	.home-right-boxes .newsletter {	
		background: $black;
	}

	a.jon-content {
		background: $white;
	}	
}