// Mixins
// -----------------------------------------------------------

// List styles
// -------------------------------------------------------

// Mixins for list style types
@mixin unordered {
	 list-style-position: outside; 
	 list-style-type: disc;
}

@mixin unordered-inside {
	 list-style-position: inside; 
	 list-style-type: disc;
}

@mixin ordered {
	list-style-position: outside; 
	list-style-type: decimal;
}

@mixin ordered-inside {
	list-style-position: inside; 
	list-style-type: decimal;
}

@mixin nobullet {
	list-style-type: none;
}

// Transition
// -------------------------------------------------------

@mixin transition($amount: 4ms) {
	-webkit-transition: $amount;
	-moz-transition: $amount;
	-ms-transition: $amount;
	-o-transition: $amount;
	transition: $amount;
}

// Border Radius
// -------------------------------------------------------

@mixin border-radius($amount: 5px) {
  -moz-border-radius: $amount;
  -webkit-border-radius: $amount;
  border-radius: $amount;
}