// Settings
// -----------------------------------------------------------

// Colours
// ------------------------------------------------------------

// Define your main colour palette

$white								: #fff;
$black								: #000;
$grey								: #545454;

$lt-grey							: #ececef;

$orange								: #df4816;
$pink								: #f2c6c8;

// Assign colours to variable roles
$base-color							: $grey;



// Links
$action								: $grey;
$action-respond						: $grey;
$secondary-action					: $action-respond;
$secondary-action-respond			: $action;



// Alerts, errors and UI interface
$alert 								: red;
$success 							: green;


// Fonts, measure, leading and typefaces
// ------------------------------------------------------------


// Fonts size and line height defaults for our calculations

$base-font-size						: 14px; 				// Sets the browser default size. Shouldn't need to change this.
$base-line-height					: 17px;					// Baseline grid. Set to a sensible, small size.
$round-to-nearest-half-line			: false;  				// Round the line height to the nearest half line height. Off by default 


/* ::Links */
/* ------------------------------------------------------------ */

a {
	color: $grey;

	&:hover {
		color: darken($grey, 15%);
	}
}


/* ::Lists */
/* ------------------------------------------------------------ */

ul 			{ @include unordered; }
ol 			{ @include ordered;	}

ul {
	li {
		margin-bottom: 1em;
	}
}


/* ::Alignments */
/* ------------------------------------------------------------ */

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

.textleft {
	float: left;
}

.textcenter {
	clear: both;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.textright {
	float: right;
}

/* ::Buttons */
/* ------------------------------------------------------------ */

.button, button, input[type="submit"] {
	display: inline-block;
	background: #e75d1e;
	background: -moz-linear-gradient(top,  #e75d1e 0%, #da3e14 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e75d1e), color-stop(100%,#da3e14));
	background: -webkit-linear-gradient(top,  #e75d1e 0%,#da3e14 100%);
	background: -o-linear-gradient(top,  #e75d1e 0%,#da3e14 100%);
	background: -ms-linear-gradient(top,  #e75d1e 0%,#da3e14 100%);
	background: linear-gradient(to bottom,  #e75d1e 0%,#da3e14 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e75d1e', endColorstr='#da3e14',GradientType=0 );
	@include border-radius(3px);
	color: $white;
	border: 0;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	padding: 8px 30px;
	@include transition(background 1s);

	&:hover {
		background: #cd450c;
		background: -moz-linear-gradient(top,  #cd450c 0%, #c2330e 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cd450c), color-stop(100%,#c2330e));
		background: -webkit-linear-gradient(top,  #cd450c 0%,#c2330e 100%);
		background: -o-linear-gradient(top,  #cd450c 0%,#c2330e 100%);
		background: -ms-linear-gradient(top,  #cd450c 0%,#c2330e 100%);
		background: linear-gradient(to bottom,  #cd450c 0%,#c2330e 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd450c', endColorstr='#c2330e',GradientType=0 );
		color: $white;
	}
}

/* ::Infinite Scroll */
/* ------------------------------------------------------------ */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll #nav-above, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll #nav-below,
.infinite-scroll.neverending #colophon { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending #colophon {
	display: block;
}


// Functions for px to em conversions
// ------------------------------------------------------------

@function emify($target, $context) {
   @if $target == 0 { @return 0 }
   @return $target / $context + 0em;
}

// Make px to ems using base-font-size 
// echo as: font-size: em-font(#px);

@function em-font($target, $context: $base-font-size) {
   @return emify($target, $context);
}

// Make px to ems using base-line-height 
// echo as: font-size: em-base(#px);

@function em-base($target, $context: $base-line-height) {
   @return emify($target, $context);
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* Clearing */
.clear:before,
.clear:after,
[class*="content"]:before,
[class*="content"]:after,
[class*="site"]:before,
[class*="site"]:after {
	content: '';
	display: table;
}

.clear:after,
[class*="content"]:after,
[class*="site"]:after {
	clear: both;
}