// Typography
// -----------------------------------------------------------

/* ::Core Typography */
/* ------------------------------------------------------------ */

strong, b 	{ font-weight: 700; }
em, i, q 	{ font-style: italic; }
p { margin: 0 0 1em; }

/* ::H Styles */
/* ------------------------------------------------------------ */

h1, h2, h3, h4, h5 {
	font-weight: 700;
}

h1 {
	font-size: 30px;
    line-height: 32px;
    color: $orange;
}

h2 {
	font-size: 28px;
    line-height: 35px;
    font-weight: 100;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 14px;
}

h5 {
	font-size: 22px;
}

/* ::Other Styles */
/* ------------------------------------------------------------ */

blockquote {
    color: $orange;
    margin: 30px 0;
    font-size: 25px;
    font-weight: 100;
    line-height: 33px;    
}

::-webkit-input-placeholder {
   color: #363636;
}

:-moz-placeholder { /* Firefox 18- */
   color: #363636;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #363636;
}

:-ms-input-placeholder {  
   color: #363636;
}

/* ::Fonts */
/* ------------------------------------------------------------ */

@font-face {
    font-family: 'klavika';
    src: url('../fonts/klavika-regular-webfont.eot');
    src: url('../fonts/klavika-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klavika-regular-webfont.woff') format('woff'),
         url('../fonts/klavika-regular-webfont.ttf') format('truetype'),
         url('../fonts/klavika-regular-webfont.svg#klavika_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'klavika';
    src: url('../fonts/klavika-regularitalic-webfont.eot');
    src: url('../fonts/klavika-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klavika-regularitalic-webfont.woff') format('woff'),
         url('../fonts/klavika-regularitalic-webfont.ttf') format('truetype'),
         url('../fonts/klavika-regularitalic-webfont.svg#klavikaregular_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'klavika';
    src: url('../fonts/klavika-medium-webfont.eot');
    src: url('../fonts/klavika-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klavika-medium-webfont.woff') format('woff'),
         url('../fonts/klavika-medium-webfont.ttf') format('truetype'),
         url('../fonts/klavika-medium-webfont.svg#klavikamedium') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'klavika';
    src: url('../fonts/klavika-mediumitalic-webfont.eot');
    src: url('../fonts/klavika-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klavika-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/klavika-mediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/klavika-mediumitalic-webfont.svg#klavikamedium_italic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'klavika';
    src: url('../fonts/klavika-light-webfont.eot');
    src: url('../fonts/klavika-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klavika-light-webfont.woff') format('woff'),
         url('../fonts/klavika-light-webfont.ttf') format('truetype'),
         url('../fonts/klavika-light-webfont.svg#klavikalight') format('svg');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'klavika';
    src: url('../fonts/klavika-lightitalic-webfont.eot');
    src: url('../fonts/klavika-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klavika-lightitalic-webfont.woff') format('woff'),
         url('../fonts/klavika-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/klavika-lightitalic-webfont.svg#klavikalight_italic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'klavika';
    src: url('../fonts/klavika-bold-webfont.eot');
    src: url('../fonts/klavika-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klavika-bold-webfont.woff') format('woff'),
         url('../fonts/klavika-bold-webfont.ttf') format('truetype'),
         url('../fonts/klavika-bold-webfont.svg#klavika_regularbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'klavika';
    src: url('../fonts/klavika-bolditalic-webfont.eot');
    src: url('../fonts/klavika-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klavika-bolditalic-webfont.woff') format('woff'),
         url('../fonts/klavika-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/klavika-bolditalic-webfont.svg#klavika_regularbold_italic') format('svg');
    font-weight: 700;
    font-style: italic;

}