/* © OGK | www.ogkcreative.com
/* ------------------------------------------------------------ */

// This is the main Scss file. Do not add any styles to the
// style.css in the theme root file nor the css folder.


// Import Reset, Mixins, Settings, and Typography
// -----------------------------------------------------------

@import "reset";
@import "mixins";
@import "settings";
@import "typography";
@import "grid";


// Import Base Styles
// -----------------------------------------------------------

@import "base";


// Import 720px Styles
// -----------------------------------------------------------

@media screen and (min-width: 720px) {
	@import "720";
}

// Import 1000px Styles
// -----------------------------------------------------------

@media screen and (min-width: 1024px) {
	@import "1000";
}


// Import Print Styles
// -----------------------------------------------------------

@media print {
	body {
		font-size: percentage(10 / 16);
	}
}


// Import Retina Styles
// -----------------------------------------------------------

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {
	@import "2x";
}