@import url('https://fonts.googleapis.com/css?family=Domine:400,700|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,900');

/*COLORS*/
$black: #000;
$white: #fff;
$fontColor: #96a1af;
$gray: #96a1af;
$orange:#f04c23;
$graybar: #f4f5f7;
$darkGray: #2a2c2d;
$blue: #082b51;
$paragraph: #656b73;

/* SIZES */
$container: 1300px;
$full: 100%;
$spc5:5px;
$spc10:10px;
$spc20:20px;
$spc30:30px;
$spc40:40px;
$spc50:50px;
$spc50:50px;
$spc60:60px;
$spc70:70px;
$spc80:80px;
$spc90:90px;
$spc100:100px;

/* TYPOGRAPHY */
$fontMain:'Raleway', sans-serif;
$domine:'Domine', serif;


$light:300;
$regular:400;
$medium:500;
$semibold:600;
$bold: 700;
$extra_bold:800;
$blackbold:900;

$letterspace: 0.1em;

$rel:relative;
$absl:absolute;