html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, svg, hr {margin: 0;padding: 0;border: 0;font-size: 100%; font: inherit; vertical-align: baseline; } 

// Sass Settings,  Variables and Mixins
@import  "partials/settings","partials/variables", "partials/mixins";

/*********************
STYLESHEETS
*********************/

// import all plugins
@import "plugins/owl-carousel", "plugins/lity";

// import all stylesheets
@import "stylesheets/typography", "stylesheets/main", "stylesheets/menus", "stylesheets/hero";

// import all templates
@import "templates/template-home", "templates/template-contact", "templates/template-blog", "templates/template-blogDetail", "templates/template-radioshow", "templates/template-about", "templates/template-financialPlaning", "templates/template-newsevent";

// import all stylesheets
@import "stylesheets/media-queries";



