/** Financial Planing template SCSS file - Create a new template file for each page template **/
.featured_news {
  padding-top: $spc80;

  ul.archive_list {
	padding-top: $spc20;

	li {
	  margin-bottom: 0px;
	}
  }
}

.sidebar {
  ul.filter_category_menu {
	> li {
	  list-style: none;
	  position: $rel;

	  span {
		width: $spc50/2;
		height: $spc50;
		position: $absl;
		right: 0;
		cursor: pointer;
		top: 8px;

		&:before {
		  content: "";
		  border-left: 6px solid transparent;
		  border-right: 6px solid transparent;
		  border-top: 7px solid #082b51;
		  position: absolute;
		  right: 6px;
		  top: 23px;
		}

		&.close_icn:before {
		  border-top: 7px solid transparent;
		  border-bottom: 7px solid #082b51;
		  top: 14px;
		}
	  }

	  ul.sub-menu {
		display: none;

		&.open {
		  display: block;
		}

		li a {
		  padding: 17px 0;
		  font-size: 14px;
		  text-transform: capitalize;
		}
	  }

	}
  }
}
