/** Radio Show page template SCSS file - Create a new template file for each page template **/
.text-block.align-left {
  max-width: 90%;
}

.archive_section {
  padding-bottom: $spc100;
}

ul.archive_list {
  @include flexbox();
  @include justify-content(flex-start);
  @include flex-wrap(wrap);
  li {
    list-style: none;
    width: 30.8%;
    margin-left: 3.8%;
    margin-bottom: 50px;
    &:nth-child(3n+1) {
      margin-left: 0px;
    }
    .post_thumb {
      position: $rel;
      overflow: hidden;
      background: $blue;
      @include hover-transition();
      z-index: 1;
      img {
        width: 100%;
        height: auto;
        vertical-align: bottom;
        @include hover-transition();
      }
    }
    .post_disc {
      background: #f4f5f7;
      padding: $spc30 $spc30 $spc70;
      position: $rel;
      height: 200px;
    }
  }
  h4 {
    margin-bottom: $spc5;
    padding-right: $spc80;
    a {
      color: $blue;
    }
  }
}

/*audio_section*/
.audio_section .wonderpluginaudio {
  background: none !important;
  border: none !important;
  position: static !important;
  box-shadow: none !important;
  width: 100% !important;
  height: auto !important;
}

.amazingaudioplayer-text, a.amazingaudioplayer-mark, div.wonderpluginaudio .amazingaudioplayer-image, .amazingaudioplayer-volume {
  display: none !important;
  opacity: 0;
}

div.wonderpluginaudio .amazingaudioplayer-progress {
  top: auto !important;
  left: 0px !important;
  right: 0px !important;
  bottom: 30px;
  box-shadow: none !important;
  margin: 0px !important;
  background: #e1e4e9 !important;
  margin: 0px 20px !important;
  border-radius: 0px !important;
}

div.wonderpluginaudio .amazingaudioplayer-progress-loaded {
  background: none !important;
  border-radius: 0px !important;
}

div.wonderpluginaudio .amazingaudioplayer-progress-played {
  background: #96a1af !important;
  border-radius: 0px !important;
}

div.wonderpluginaudio .amazingaudioplayer-time {
  top: auto !important;
  text-shadow: none !important;
  left: auto !important;
  color: #a7a7a7 !important;
  right: 30px !important;
  font-family: "Raleway", sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  bottom: 43px;
}

div.wonderpluginaudio .amazingaudioplayer-prev {
  background-image: url(/wp-content/themes/ulin/assets/images/audio_btns.png) !important;
  background-repeat: no-repeat !important;
  background-position: 5px 0px !important;
  width: 20px !important;
  height: 20px !important;
  left: auto !important;
  top: 30px !important;
  right: 80px !important;
}

div.wonderpluginaudio .amazingaudioplayer-next {
  background-image: url(/wp-content/themes/ulin/assets/images/audio_btns.png) !important;
  background-repeat: no-repeat !important;
  background-position: right 4px top !important;
  width: 20px !important;
  height: 20px !important;
  left: auto !important;
  top: 30px !important;
  right: 32px !important;
}

div.wonderpluginaudio .amazingaudioplayer-playpause {
  left: auto !important;
  top: 30px !important;
  right: 57px !important;
}

div.wonderpluginaudio .amazingaudioplayer-play {
  background-image: url(/wp-content/themes/ulin/assets/images/audio_btns.png) !important;
  background-repeat: no-repeat !important;
  background-position: -41px 0px !important;
  width: 20px !important;
  height: 20px !important;
}

div.wonderpluginaudio .amazingaudioplayer-pause {
  background-image: url(/wp-content/themes/ulin/assets/images/audio_btns.png) !important;
  background-repeat: no-repeat !important;
  background-position: -19px 0px !important;
  width: 20px !important;
  height: 20px !important;
}


  
  