/** News Event page template SCSS file - Create a new template file for each page template **/
 .archive_section h2 {
     margin-bottom:$spc50;
}
 .page-template-template-news-events {
    .upcoming_event {
   background: none;
 }
   .archive_section {
     padding: 100px 0;
   }
}

 .archive_list {
   li {
     &:hover {
       img {
         @include transform(scale(1.1, 1.1));
         opacity: 0.4;
       }
     }
     .post_disc {
       a {
         @include hover-transition(); 
         &:hover {
           color: $orange;
         }
       }
     }
   }
 }
 