/** Blog Detail page template SCSS file - Create a new template file for each page template **/

body.single {
  .blog_container {
    .blog_article {
      a {
        color: $orange !important;
        @include hover-transition();
        &:hover {
          color: $blue !important;
        }
      }
    }
  }
  .blog_article p {
    color: $paragraph;
    margin-bottom: $spc20 - 5;
    letter-spacing: -0.015em;
  }
  .detail_bottom {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    @include flex-wrap(wrap);
    margin-top: $spc30;
    .left_share {
      @include flexbox();
      @include align-items(center);
      @include flex-wrap(wrap);
      .social {
        margin-top: 0px;
        margin-left: $spc20;
        ul li svg {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
  .related_article {
    > h3 {
      color: $blue;
      font-size: $spc20 + 4;
      font-family: $domine;
      text-transform: capitalize;
      margin-bottom: $spc20;
      font-weight: 700;
    }
    ul {
      margin-bottom: $spc20;
      li {
        border-bottom: 1px solid #dfe3e7;
        padding: $spc20 + 5 0;
        h4 {
          a {
            color: $blue;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
 