/** Contact page template SCSS file - Create a new template file for each page template **/
.contact_info {
  background: #f4f5f7;
  padding: $spc90 0;

  .container {
	@include flexbox();
	@include align-items(center);
	@include justify-content(space-between);
  }

  h2 {
	margin-bottom: 0;
	width: 48%;
  }

  .information_right {
	width: 52%;
	@include flexbox();
	@include justify-content(space-between);

	.column {
	  width: 47%;

	  a {
		color: $paragraph;
		line-height: $spc30 - 5;
		font-weight: $semibold;
		display: block;
		padding: 5px 0 5px $spc20 + 5;
	  }

	  .address {
		background: url(../images/location_orange.png) no-repeat left 10px;
	  }

	  .mail {
		background: url(../images/email_orange.png) no-repeat left center;
		padding-left: $spc30;
	  }

	  .phone {
		background: url(../images/call_orange.png) no-repeat left center;
		padding-left: $spc30;
	  }
	}
  }
}

.contact_form {
  padding: $spc100 0;

  h2 {
	max-width: $spc100*10;
	letter-spacing: 0;
  }

}

.two_cta {
  @include flexbox();
  @include justify-content(space-between);
  background: $gray;

  h2 {
	color: $white;
	max-width: 530px;
	margin: 0px auto 20px;
  }

  > div {
	width: 50%;
	padding: $spc60;
  }

  .radio_cta {
	background: #2a2c2d;
  }
}
