/** About page template SCSS file - Create a new template file for each page template **/
.page_container {
  padding: $spc100 - 5 0 0;
  @include flexbox();
  @include justify-content(space-between);
  .secondary_nav {
    width: 375px;
    ul {
      li {
        list-style: none;
        > a {
          font-size: $spc20 - 4;
          font-weight: $semibold;
          color: $paragraph;
          cursor: pointer;
          display: block;
          text-transform: uppercase;
          border-bottom: 1px solid #dfe3e7;
          padding: $spc20 + 5 0;
          @include hover-transition();
          letter-spacing: 0.120em;
        }
        &:hover > a {
          color: $orange;
        }
        a.active_cat {
          color: $blue;
        }
      }
    }
  }
  .page_article {
    width: calc(100% - 375px);
    padding-left: $spc70 + 5;
    padding-right: $spc90;
    position: $rel;
    .sidenav_content {
      li {
        list-style: none;
        h2 {
          margin-bottom: $spc30;
        }
        p {
          margin-bottom: 10px;
        }
        ul {
          margin: 15px 0px;
          padding-left: 20px;
          li {
            list-style: disc;
            margin-bottom: 10px;
            font-size: 18px;
            line-height: 28px;
            font-weight: 500;
            color: $paragraph;
          }
        }
        ol {
          margin: 15px 0px;
          padding-left: 20px;
          li {
            list-style: decimal;
            margin-bottom: 10px;
            font-size: 18px;
            line-height: 28px;
            font-weight: 500;
            color: $paragraph;
            padding-left: 8px;
            &:before {
              text-align: right;
            }
          }
        }
      }
    }
  }
}

.dots_outer {
  position: $absl;
  right: 0px;
  top: 0px;
  width: $spc10;
  bottom: 0px;
  &:before {
    content: "";
    background: #cad0d7;
    left: 4px;
    top: 0;
    width: 1px;
    position: $absl;
    height: $full;
  }
  .square_indicators {
    position: $absl;
    right: 0;
    background: $white;
    top: $full/2;
    @include transform(translateY(-50%));
    li {
      list-style: none;
      width: 10px;
      height: 10px;
      display: block;
      margin: $spc30 0;
      background: #cad0d7;
      &.active_indicator {
        background: #2a2c2d;
      }
    }
  }
}

.team_members {
  padding: $spc80 0 0;
  ul.members {
    @include flexbox();
    @include justify-content(flex-start);
    @include flex-wrap(wrap);
    padding-top: $spc50;
    li {
      list-style: none;
      width: 46.5%;
      margin-left: 7%;
      margin-bottom: $spc90 - 2;
      @include flexbox();
      @include flex-wrap(wrap);
      &:nth-child(2n+1) {
        clear: left;
        margin-left: 0px;
      }
      > div {
        width: 250px;
      }
      .member_disc {
        margin-left: 55px;
        width: calc(100% - 305px);
        h4 {
          border-top: 2px solid $orange;    
          padding-top: 25px;
          margin-bottom: $spc5;
          color: $blue;
          letter-spacing: -0.040em;
        }
        h3 {
          margin-bottom: $spc20 + 5;
        }
        p {
          margin-bottom: $spc10;
        }
      }
    }
  }
  .hide {
    display: none;
  }
  .toggle-hide, .toggle-more {
    color: $blue;
    font-size: 18px !important;
    font-weight: 600;
    cursor: pointer;
    @include hover-transition();
    &:hover {
      color: $gray;
    }
  }
}

.privacy_and_disclosure {
  background: #f4f5f7;
  @include flexbox();
  @include justify-content(space-between);
  @include flex-wrap(wrap);
  > div {
    width: $full/2;
    padding: $spc80 + 5 $spc10*12;
  }
  .disclosure {
    background: #2a2c2d;
    h2 {
      color: $white;
    }
    p {
      color: rgba(#fff, 0.6);
      margin-bottom: $spc10;
    }
  }
}
