/** Home page template SCSS file - Create a new template file for each page template **/

.mobile-home-slider-nav {
  background: #96a1af;
  #home_thumb_slide_mobile {
    padding: 20px 0;
    text-align: center;
    .owl-item {
      .item {
        h2 {
          font-size: 20px !important;
          margin-bottom: 0 !important;
          a {
            color: $white !important;
          }
        }
      }
    }
    .owl-nav {
      .owl-prev {
        position: absolute;
        left: -20px;
        top: 3px;
        color: $white;
        font-size: 40px;
      }
      .owl-next {
        position: absolute;
        right: -20px;
        top: 3px;
        color: $white;
        font-size: 40px;
      }
      .owl-prev, .owl-next {
        &:hover {
          background: none !important;
        }
      }
    }
  }
}

.finra {
  position: fixed;
  bottom: 0;
  right: 100px;
  background-color: rgba(255, 255, 255, 0.9);
  /* border-radius: 5px 5px 0 0; */
  padding: 13px 21px;
  z-index: 99999;
  cursor: pointer;
  img {
    width: 150px;
  }

}

.join_team {
  background: $orange;
  padding: $spc10 - 3 $spc20;
  text-align: center;
  h4 {
    color: $white;
    a {
      color: $white;
      font-weight: $bold;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

.intro_section {
  background: #f4f5f7;
  @include flexbox();
  @include justify-content(center);
  > div {
    width: 50%;
  }
  .intro_text {
    @include flexbox();
    @include align-items(center);
    @include justify-content(flex-end);
    .text_inner {
      padding: $spc90 $spc50 $spc90 $spc20;
      max-width: 675px;
      background: url(/wp-content/themes/ulin/assets/images/IntroSection-SignatureBG.png) no-repeat right -104px bottom 40px;
      h2 {
        margin-bottom: $spc40;
      }
      p {
        margin-bottom: $spc30;
      }
    }
  }
  .intro_video {
    iframe, video {
      height: $full;
      width: $full;
    }
    .wp-video {
      width: $full !important;
      height: $full !important;
      .mejs-container {
        height: 100% !important;
      }
      .mejs-controls {
        display: none;
      }
    }
    .mejs-overlay-button, .mejs-overlay:hover > .mejs-overlay-button {
      width: 69px;
      height: 69px;
      background: url(/wp-content/themes/ulin/assets/images/play_btn.png) no-repeat;
    }
  }
}

.text-block {
  padding: $spc70 + 5 0;
  h2 {
    margin-bottom: $spc30;
  }
  p {
    margin: 0px auto $spc10;
  }
  &.align-center {
    width: 90%;
    margin: 0px auto;
  }
}

.featured_main {
  padding: $spc50 0;
  margin-bottom: $spc30;
  .container {
    @include flexbox();
    @include justify-content(space-between);
    @include flex-wrap(wrap);
    @include align-items(center);
    h2 {
      color: $paragraph;
      min-width: 280px;
      padding-left: $spc20;
      margin: 0;
    }
    .featured_slide {
      width: calc(100% - 280px);
      .item {
        text-align: center;
      }
      img {
        width: auto;
        margin: 0px auto;
        height: 50px;
        vertical-align: middle;
      }
    }
  }
}

.three_sections {
  @include flexbox();
  @include justify-content(flex-start);
  @include flex-wrap(wrap);
  .column {
    width: $full/3;
    padding: $spc80 + 5;
    background: $gray;
    h2, p {
      color: $white;
    }
    &.one {
      background: $blue;
    }
    &.two {
      background: #2a2c2d;
    }
  }
  .gform_wrapper {
    h3.gform_title, .gform_description {
      display: none;
    }
    ul.gform_fields li.gfield {
      padding-right: 0px !important;
      margin: 0px;
      .gfield_label {
        display: none;
      }
      .ginput_container {
        width: 100%;
        margin-top: 0px;
      }
      ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #96a1af;
      }
      ::-moz-placeholder {
        /* Firefox 19+ */
        color: #96a1af;
      }
      :-ms-input-placeholder {
        /* IE 10+ */
        color: #96a1af;
      }
      :-moz-placeholder {
        /* Firefox 18- */
        color: #96a1af;
      }
      input {
        background: none;
        border: none;
        border-bottom: 1px solid #96a1af;
        color: #96a1af;
        font-weight: 700;
        text-transform: uppercase;
        padding: 15px 15px !important;
        width: 100%;
        margin-bottom: 15px;
      }
    }
    .gform_footer {
      padding: 0px;
      input[type="submit"] {
        font-family: 'Domine', serif;
        font-size: $spc10 + 3;
        text-transform: uppercase;
        font-weight: $bold;
        color: $white;
        background: none;
        letter-spacing: 0.025em;
        border: 2px solid $white;
        min-height: $spc50;
        padding: $spc5 $spc20;
        display: inline-block;
        line-height: $spc30 + 6;
        min-width: $spc50*3;
        text-align: center;
        max-width: $spc50*3;
        cursor: pointer;
        @include hover-transition();
        &:hover {
          background: $orange;
          border-color: $orange;
        }
      }
    }
    div.validation_error, .validation_message {
      display: none;
    }
    &.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
      max-width: 100% !important;
    }
    li.gfield.gfield_error {
      border: none;
      background: none;
      margin-bottom: 0px !important;
      padding: 0px;
      width: 100%;
    }
    li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), li.gfield_error textarea {
      border: none;
      border-bottom: 1px solid #F00 !important;
    }
    input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus textarea:-webkit-autofill, textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
      -webkit-text-fill-color: #96a1af;
      -webkit-box-shadow: 0 0 0px 1000px $blue inset;
    }
  }
  .three .gform_wrapper ul.gform_fields li.gfield {
    ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #fff;
    }
    ::-moz-placeholder {
      /* Firefox 19+ */
      color: #fff;
    }
    :-ms-input-placeholder {
      /* IE 10+ */
      color: #fff;
    }
    :-moz-placeholder {
      /* Firefox 18- */
      color: #fff;
    }
    input {
      color: #fff;
      border-bottom: 1px solid #fff;
    }
    input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus textarea:-webkit-autofill, textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
      -webkit-text-fill-color: #fff;
      -webkit-box-shadow: 0 0 0px 1000px #96a1af inset;
    }
  }
}

.radio_callout {
  background-size: cover;
  background-position: center center;
  padding: $spc80 + 5 0;
  .container {
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    h2 {
      padding-left: $spc80;
      background: url(/wp-content/themes/ulin/assets/images/Event_Icon.png) no-repeat left center;
      color: #fff;
      margin-bottom: 0px;
      max-width: 950px;
    }
  }
}

.events_callout {
  background-size: cover;
  background-position: center center;
  padding: $spc80 + 5 0;
  .container {
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    h2 {
      padding-left: $spc80;
      background: url(/wp-content/themes/ulin/assets/images/Event_Icon_blue.png) no-repeat left center;
      color: $blue;
      margin-bottom: 0px;
      max-width: 950px;
    }
  }
}
.news_callout {
  background: #96a1af;
  background-size: cover;
  background-position: center center;
  padding: $spc80 + 5 0;
  .container {
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    h2 {
      padding-left: $spc80;
      background: url(/wp-content/themes/ulin/assets/images/Newsicon.png) no-repeat left center;
      color: $white;
      margin-bottom: 0;
      max-width: 950px;
    }
    a {
      color: $white;
      border: 2px solid $white;
      &:hover {
        border: 2px solid $orange;
      }
    }
  }
}

.guides-section {
  background: #f4f5f7;
  padding: 75px 0;
  h2 {
    @include hover-transition();
  }
  .title-link {
    &:hover {
      h2 {
        color: $orange;
      }
    }
  }
  .text-wrap {
    text-align: center;
  }
  .btn-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .btn {
      margin: 0 10px 10px;
    }
  }
}

.logos-section {
  padding: 75px 0;
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .logo {
      margin: 0 10px 20px;
    }
  }
  .btn-wrap {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}

.upcoming_event {
  padding: $spc90 0 $spc70;
  background: #f4f5f7;
  ul.events {
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(flex-start);
    li {
      list-style: none;
      padding: $spc20 + 5 60px $spc20 + 5 0;
      position: $rel;
      border-right: 1px solid #d8dce1;
      h3 {
        margin-bottom: $spc10;
      }
      h4 {
        margin-bottom: $spc30;
        min-height: $spc50 + 2;
      }
    }
    .lastActiveItem li {
      border-right: none;
    }
  }
}

.call_out {
  background: $gray;
  padding: $spc80 0;
  .container {
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    h2 {
      color: #fff;
      margin-bottom: 0px;
      max-width: 1050px;
    }
  }
}

.blog_and_news {
  background: #fff;
  border-top: 1px solid #d5d8dd;
  .container {
    @include flexbox();
    @include flex-wrap(wrap);
    > div {
      width: $full;
      padding: $spc80 0;
    }
  }
  h2 {
    margin-bottom: 40px;
  }
  ul.post_list {
    @include flexbox();
    @include justify-content(flex-start);
    @include flex-wrap(wrap);
    li {
      list-style: none;
      width: 30.8%;
      margin-left: 3.8%;
      margin-bottom: 50px;
      &:nth-child(3n+1) {
        margin-left: 0px;
      }
      .post_thumb {
        position: $rel;
        overflow: hidden;
        max-width:400px;
        max-height:200px;
        min-height:200px;
        @include hover-transition();
        z-index: 1;
        img {
          width: 100%;
          height: auto;
          vertical-align: bottom;
          object-fit: fill;
          @include hover-transition();
        }
      }
      .post_disc {
        background: #f4f5f7;
        padding: $spc30 $spc30;
        position: $rel;
      }
      &:hover {
        img {
          @include transform(scale(1.1, 1.1));
          opacity: 0.4;
        }
      }
    }
    h4 {
      margin-bottom: $spc5;
      a {
        color: $blue;
      }
    }
  }
}
