/** Blog page template SCSS file - Create a new template file for each page template **/
.blog_subscribe {
  background: #f4f5f7;
  padding: $spc80 0;
  h2 {
    letter-spacing: 0;
  }
  .gform_wrapper {
    form {
      @include flexbox();
      @include justify-content(space-between);
      @include align-items(flex-end);
      @include flex-wrap(wrap);
    }
    .gform_body {
      width: 92%;
    }
    h3.gform_title, .gform_description {
      display: none;
    }
    ul.gform_fields {
      &:after {
        clear: both;
        content: "";
        display: block;
      }
      li.gfield {
        padding-right: 0px !important;
        margin: 0px;
        width: 44%;
        float: left;
        clear: none;
        &#field_3_1, &#field_3_2 {
          margin-right: 6% !important;
        }
        .gfield_label {
          display: none;
        }
        .ginput_container {
          width: 100%;
          margin-top: 0px;
        }
        ::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: $paragraph;
          letter-spacing: 0.120em;
        }
        ::-moz-placeholder {
          /* Firefox 19+ */
          color: $paragraph;
          letter-spacing: 0.120em;
        }
        :-ms-input-placeholder {
          /* IE 10+ */
          color: $paragraph;
          letter-spacing: 0.120em;
        }
        :-moz-placeholder {
          /* Firefox 18- */
          color: $paragraph;
          letter-spacing: 0.120em;
        }
        input {
          background: none;
          border: none;
          border-bottom: 1px solid $paragraph;
          color: $paragraph;
          font-weight: 700;
          text-transform: uppercase;
          padding: 15px 0px !important;
          width: 100%;
        }
      }
    }
    .gform_footer {
      padding: 0px;
      margin: 0px;
      width: auto;
      position: $rel;
      &:before {
        width: 5px;
        height: 5px;
        content: "";
        @include hover-transition();
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 7px solid $blue;
        position: $absl;
        right: 0px;
        top: 16px;
      }
      &:hover {
        &:before {
          border-top-color: $orange;
        }
      }
      input[type="submit"] {
        font-family: 'Domine', serif;
        font-size: $spc10 + 3;
        text-transform: uppercase;
        font-weight: $bold;
        color: $blue;
        background: none;
        letter-spacing: 0.025em;
        border: none;
        border-bottom: 2px solid $blue;
        min-height: $spc30;
        padding: 5px 20px 5px 0px;
        display: inline-block;
        line-height: $spc30;
        min-width: $spc50*2;
        margin: 0px;
        text-align: center;
        cursor: pointer;
        @include hover-transition();
        &:hover {
          border-bottom-color: $orange;
          color: $orange;
        }
      }
    }
    div.validation_error, .validation_message {
      display: none;
    }
    &.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
      max-width: 100% !important;
    }
    li.gfield.gfield_error {
      border: none;
      background: none;
      margin-bottom: 0px !important;
      padding: 0px;
      width: 100%;
    }
    li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), li.gfield_error textarea {
      border: none;
      border-bottom: 1px solid #F00 !important;
    }
    input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus textarea:-webkit-autofill, textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
      -webkit-text-fill-color: $paragraph;
      -webkit-box-shadow: 0 0 0px 1000px #f4f5f7 inset;
    }
  }
}

.blog_container {
  padding: $spc100 - 5 0 $spc60;
  @include flexbox();
  @include justify-content(space-between);
  .secondary_nav {
    width: 375px;
    ul {
      li {
        list-style: none;
        > a {
          font-size: $spc20 - 4;
          font-weight: $semibold;
          color: $gray;
          cursor: pointer;
          display: block;
          text-transform: uppercase;
          border-bottom: 1px solid #dfe3e7;
          padding: $spc20 + 5 0;
          @include hover-transition();
          letter-spacing: 0.120em;
        }
        &:hover > a {
          color: $orange;
        }
        a.active_cat {
          color: $blue;
        }
      }
    }
  }
  .blog_article {
    width: calc(100% - 375px);
    padding-left: $spc70 + 5;
    position: $rel;
    a, a:active, a:visited, a:link {
      &:not(.btn) {
        font-weight: $bold;
      }
    }

    .blog_posts {
      @include flexbox();
      @include flex-wrap(wrap);
      li {
        list-style: none;
        width: 47.5%;
        margin-bottom: $spc50;
        @include hover-transition();
        &:nth-child(even) {
          margin-left: 5%;
        }
        .post_thumb {
          position: $rel;
          overflow: hidden;
          max-width:400px;
          max-height:200px;
          min-height:200px;
          @include hover-transition();
          z-index: 1;
          img {
            width: 100%;
            height: auto;
            vertical-align: bottom;
            object-fit: fill;
            @include hover-transition();
          }
        }
        .post_disc {
          background: #f4f5f7;
          padding: $spc30 $spc40;
        }
        &:hover {
          img {
            @include transform(scale(1.1, 1.1));
            opacity: 0.4;
          }
        }
      }
      h4 {
        margin-bottom: $spc5;
        a {
          color: $blue;
          @include hover-transition();
          &:hover {
            color: $orange;
          }
        }
      }
    }
  }
}

.loading_img {
  position: $absl;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: rgba(255, 255, 255, 0.8);
  img {
    position: $absl;
    left: 50%;
    @include transform(translate(-50%, -50%));
    width: 80px;
    top: 50%;
  }
}
